# Byte-compiled
__pycache__/
*.py[cod]
*$py.class
.is_*
# config files with secrets
package-lock.json
generated/
.gradle
classes
build
node_modules
private
.vscode
.idea
dist/
gradle.properties
java/bin
Gemfile.lock
.DS_Store
*.test
csharp
