# Byte-compiled
__pycache__/
*.py[cod]
*$py.class
.is_*
# config files with secrets
config.yaml
config.mak
config.env
package-lock.json
sdk/
.gradle
classes
build
node_modules
tmp
local
.vscode
.idea
dist/
web/conf.js
gradle.properties
java/bin
Gemfile.lock