---
  misc:
    system_type: your_value_here
    client_sdk: your_value_here
    trsdk_url: your_value_here
  httpgw:
    url: your_value_here
  server:
    url: your_value_here
    user: your_value_here
    pass: your_value_here
    download_file: your_value_here
    upload_folder: your_value_here
  node:
    url: your_value_here
    user: your_value_here
    pass: your_value_here
  cos:
    endpoint: your_value_here
    bucket: your_value_here
    key: your_value_here
    crn: your_value_here
    auth: your_value_here
  coscreds:
    bucket: your_value_here
    service_credential_file: your_value_here
    region: your_value_here
  faspex:
    url: your_value_here
    user: your_value_here
    pass: your_value_here
    adminuser: your_value_here
    adminpass: your_value_here
  faspex5:
    url: your_value_here
    username: your_value_here
    client_id: your_value_here
    client_secret: your_value_here
    private_key: your_value_here
  aoc:
    org: your_value_here
    user_email: your_value_here
    private_key_path: your_value_here
    client_id: your_value_here
    client_secret: your_value_here
    workspace: your_value_here
    shared_inbox: your_value_here
