{"swagger":"2.0","info":{"description":"API for Aspera Node Management and Transfer Support\n","version":"4.4.1","title":"Node API"},"host":"ats-aws-eu-central-1.aspera.io","schemes":["https"],"tags":[{"name":"/access_keys","description":"Create and manage access keys for High-Speed Transfer Server, Aspera on Demand, and Aspera on Cloud transfer service. Access keys enable tenant-level access control over a given storage. Use access keys for authorization if the client application interacts with the Node API through a server application broker. Authenticate with an access key or Node API credentials. The creator of the access key must be authorized to access the storage path that is specified in the access key configuration."},{"name":"/events","description":"Get event activity information of a node including file transfer, creation, modification, and deletion; file permission creation, modification, and deletion; and filelock creation, modification, reversion, and deletion. Authentication with Node API credentials or an access key ID and secret allows you to see any event in the same tenant space. Bearer token users can see any event associated with a file ID to which they have any permission. Available in HSTS as of version 3.6.0. /events/{id} is available in HSTS as of version 3.7.3."},{"name":"/files/{id}","description":"Create, modify, and delete files, symbolic links, and directories on a node. Requires access key or bearer token authentication. Bearer token users are restricted to the tenant space that is defined in the bearer token and by the permissions set on the files. Available in HSTS as of version 3.6.0. /files/{id}/content is available in HSTS as of version 3.7.3."},{"name":"/files/{uri_encoded_path}/contents","description":"'List the contents of the specified file with the uri encoded path relative to the docroot. Content cannot be returned for symbolic links or directories. The maximum size being returned is 4096 bytes.'"},{"name":"/files/{id}/filelock","description":"This API is deprecated from HSTS/HSTE 4.4.0 and will be removed in a future release. Manage filelocks on files (add, modify, delete, or revert the file to its pre-filelock state). Requires access key or bearer token authentication. Bearer token users are restricted to the tenant space that is defined in the bearer token and by the permissions set on the files. Available in HSTS as of version 3.7.3."},{"name":"/files/browse","description":"Retrieve metadata about the contents of the specified directory. Does not accept bearer token authentication; use /files/{id}/files instead. Available in HSTS as of version 3.6.0.\n"},{"name":"/files/page","description":"Retrieve metadata about the contents of the specified directory by paging through with iteration tokens. Does not accept bearer token authentication; use /files/{id}/files instead. Available in HSTS as of version 4.0.\n"},{"name":"/files/create","description":"Create directories, files, and symbolic links. Does not accept bearer token authentication; use /files/{id} instead. Available in HSTS as of version 3.0.0. On Unix-like OSes, if you want to allow /files/create to set the owner of the created files and directories, run the following command: 'asconfigurator -x \"set_node_data;group_ownership,-\"' Otherwise, when a group ID is set on a parent directory, files and directories and that are created in the parent directory by using /files/create have the primary group ID of the user rather than the group ID of the parent directory.\n"},{"name":"/files/delete","description":"Delete the specified paths and directories. Does not accept bearer token authentication; use /files/{id} instead. Available in HSTS as of version 3.0.0."},{"name":"/files/download_setup","description":"FASP transfers can use transfer tokens to authorize a specific download. Transfer tokens are the most restrictive of the tokens and require careful configuration. Available in HSTS as of version 3.0.0."},{"name":"/files/filelock","description":"This API is deprecated from HSTS/HSTE 4.4.0 and will be removed in a future release. Apply filelocks on files by file path. To remove a filelock, use /files/unfilelock. Does not accept bearer token authentication; to manage filelocks using bearer token authorization or get the filelock status of a file, use /files/{id}/filelock. Available in HSTS as of version 3.8.0."},{"name":"/files/info","description":"Get metadata for the files and directories that are specified in an array of paths. Does not accept bearer token authentication; use /files/{id} instead. Available in HSTS as of version 3.0.0."},{"name":"/files/rename","description":"Rename the specified files and directories. Existing files and directories cannot be overwritten by a /files/rename request. Does not accept bearer token authentication; use /files/{id} instead. Available in HSTS as of version 3.0.0."},{"name":"/files/search ","description":"Search for objects in a specified path that match user-specified conditions and terms. Does not accept bearer token authentication. Available in HSTS as of version 3.0.0."},{"name":"/files/unfilelock","description":"This API is deprecated from HSTS/HSTE 4.4.0 and will be removed in a future release. Remove filelocks on files by file path. To add a filelock, use /files/filelock. Does not accept bearer token authentication; to manage filelocks using bearer token authorization or get the filelock status of a file, use /files/{id}/filelock. Available in HSTS as of version 3.8.0."},{"name":"/files/upload_setup","description":"FASP transfers can use transfer tokens to authorize a specific upload. Transfer tokens are the most restrictive of the tokens and require careful configuration. Available in HSTS as of version 3.0.0."},{"name":"/info","description":"Get information about the node set up and capabilities. Available in HSTS as of version 3.0.0."},{"name":"/ops/transfers","description":"Start and manage transfers between Aspera nodes including streaming transfers. Authentication with an access key or Node API credentials allows you to start a transfer of any content in the tenant space (as allowed by the storage path in the access key or, for HSTS and AOD, by the node user's file restriction or docroot). You can get information about, modify, and cancel any transfers in the same tenant space. Authentication with a bearer token restricts you to the tenant space defined by the bearer token and the permissions on the content. Note: Node users in HSTS versions 3.6.0 through 3.6.5 have full access to start, list, and stop all transfers.\n"},{"name":"/permissions","description":"Create and manage file permissions and access levels for Node API users who authenticate with bearer tokens. Access key users, access key owners, and other admin users have all access levels permissions. Each permission includes a user or group ID and access levels (file actions such as list, read, and delete). Permission access levels apply recursively and cumulatively; once a user has a certain access level to a directory, they have at least that level of access to all children. An access level permission allows the user to give or remove the same permission to others. Available in HSTS as of version 3.6.0."},{"name":"/ping","description":"Test the responsiveness of a node. Available in HSTS as of version 3.0.0."},{"name":"/self","description":"For access key and bearer token users, get metadata for the access key that is used to authenticate the request. Equivalent to sending a request to /access_keys/self."},{"name":"/space","description":"For High-Speed Transfer Server nodes and Aspera on Demand, get the total and available space for the file system, drives or partitions (logical or physical) that host one or more queried paths. Available in HSTS as of version 3.6.0."},{"name":"/streams","description":"This endpoint is deprecated and will be removed, please use /ops/transfers with use_ascp4 for streaming transfers.      "},{"name":"/usage","description":"Retrieve usage data, as bytes transferred in, bytes transferred out, and total, listed by usage ID. The usage ID is a user-defined tag that is configured as part of the transfer request, either in an /ops/transfers request body or on the ascp command line. You can also retrieve usage data for a specific usage ID. Usage information (usage ID and bytes transferred) is not available until the FASP transfer gracefully terminates (completes or errors). If the FASP transfer is stopped abruptly, no usage information is retained. To get transfer rates for a specific transfer as time series data, use /ops/transfers/bandwidth. Authentication with Node API credentials allows you to retrieve usage for the node user. If an access key is also provided as a query, the response is the same as for access key authentication. Authentication with a master access key ID and secret allows you to retrieve usage associated with the access key, including usage by all usage IDs, aggregate usage for the access key and any sub-access keys, and usage by access key (for sub-access keys). Authentication with a sub-access key allows you to retrieve only usage data associated with the sub-access key (no data by usage IDs or aggregate data). Authentication with a bearer token allows you to retrieve usage data for the associated access key only if the bearer token has an admin scope-role. Bearer tokens with user scope-role cannot access /usage. Available in HSTS as of version 3.7.2."}],"consumes":["application/json"],"produces":["application/json"],"paths":{"/access_keys":{"post":{"tags":["/access_keys"],"summary":"Create an access key","description":"Create an access key that allows the user to access the specified path on the HSTS or AOD node storage.","parameters":[{"name":"Access Key Configuration","in":"body","required":true,"schema":{"$ref":"#/definitions/accessKeyRequest"}}],"responses":{"200":{"description":"OK - Successful response","schema":{"$ref":"#/definitions/accessKeyGETMetadata"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"409":{"description":"Conflict. The access key id already exists.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}}}},"get":{"tags":["/access_keys"],"summary":"Get metadata for all access keys","description":"Get information about all access keys to which the user has access.","responses":{"200":{"description":"OK - Successful response","schema":{"$ref":"#/definitions/accessKeyGETall"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}}}}},"/access_keys/{access_key_id}":{"get":{"tags":["/access_keys"],"summary":"Get metadata for the specified access key","description":"Get information about an access key to which the authentication method has access, specified by access key ID.","parameters":[{"name":"access_key_id","in":"path","required":true,"type":"string","description":"The ID of the access key."},{"name":"embed[]","in":"query","required":false,"type":"string","description":"For versions 3.6.0 through 3.7.4, to return storage information set the value as \"storage\" and to return license information set the value as \"license\". These can be combined to return both sets of information; for example: `https://{domain}:9092/access_keys/{id}?embed%5b%5d=storage&embed%5b%5d=license`. As of 3.8.0, license and storage information is automatically included in the response."}],"responses":{"200":{"description":"OK - Successful response","schema":{"$ref":"#/definitions/accessKeyGETMetadata"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["/access_keys"],"summary":"Modify the specified access key","description":"Update an access key configuration with the specified values. The request body is the same as for a POST request and can contain all or only the updated element-value pairs. The access key ID cannot be updated.","parameters":[{"name":"access_key_id","in":"path","required":true,"type":"string","description":"The ID of the access key to modify."},{"name":"Access Key Configuration","in":"body","required":true,"schema":{"$ref":"#/definitions/accessKeyPUTRequest"}}],"responses":{"204":{"description":"Success - No Content","headers":{"Content-Length":{"description":"The number of characters that are returned in the response body.","type":"integer"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/error"}}}},"delete":{"tags":["/access_keys"],"summary":"Delete the specified access key","description":"Delete the access key as well as the event and transfer history associated with the access key.","parameters":[{"name":"access_key_id","in":"path","required":true,"type":"string","description":"The ID of the access key to delete."}],"responses":{"204":{"description":"Success - No Content","headers":{"Content-Length":{"description":"The number of characters that are returned in the response body.","type":"integer"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/error"}}}}},"/events":{"get":{"tags":["/events"],"summary":"Get event information for the node","description":"Get a full or filtered list of node events to which the user has access.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"after_time","description":"Get events that occurred after the specified time, in ISO format (for example, 2015-09-11T23:53:40Z). If both \"after_time\" and \"iteration_token\" are specified, the most recent of those two attributes is used to determine which events are returned in the response.","in":"query","type":"string"},{"name":"iteration_token","description":"Get events that occurred after the specified iteration token. The iteration token defines a specific time in the log; it is generated by a previous request and returned in the LINK header. The same iteration token is reported to different applications as long as they are querying the same server.","in":"query","type":"string"},{"name":"count","description":"Get no more than the specified number of events. If the number of events exceed the value for \"count\", then the oldest events are returned. Calling /events again with the returned HTTP link header returns the next oldest set.","in":"query","type":"integer"},{"name":"type","description":"Get events that match the type and subtype. Only one \"type\" can be specified at a time. To retrieve multiple types, use a glob pattern as a value for \"type_glob[]\". If no types are specified, all event types are returned. File event types are \"file.created\", \"file.deleted\", \"file.modified\", and \"file.moved\". Permission event types are \"permission.created\", \"permission.edited\", \"permission.deleted\", \"permission.modified\", \"file.filelock.created\" (available as of 3.7.4), \"file.filelock.modified\" (available as of 3.7.4), \"file.filelock.deleted\" (available as of 3.7.4), and \"file.filelock.reverted\" (available as of 3.7.4). Transfer event types are \"download.started\", \"upload.started\", \"transfer.started\" (returns both \"download.started\" and \"upload.started\"), \"download.ended\", \"upload.ended\", and \"transfer.ended\" (returns both \"download.ended\" and \"upload.ended\").","in":"query","type":"string"},{"name":"type_glob[ ]","description":"Get events that match the glob pattern, in which an asterisk (\"*\") is a wildcard for all available subtypes. Note: You can include only  one glob pattern in a request, so if you need information for both \"file.*\" and \"permission.*\" events, for example, you must make two separate calls to the endpoint.","in":"query","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/events-get-200"},"headers":{"Link":{"description":"A URL to the next set of items that match the current request.","type":"string"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}}}}},"/events/{id}":{"get":{"tags":["/events"],"summary":"Get event information for a specific event","description":"Get the event information for a specific event. User must have access to the event to get information.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"The event ID","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/events-id-get-200"}},"404":{"description":"Not Found. Invalid event ID.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/files/{id}/files":{"post":{"tags":["/files/{id}"],"summary":"Create a file, symbolic link, or folder","description":"Create a zero or non-zero byte file, symbolic link, or directory in the directory that is specified by ID. Specify the object characteristics in the request body. Bearer token users must have \"write\" permission (recursively) on the directory to create files or links, and \"mkdir\" permission to create directories. The non-zero file size is limited by max_request_file_create_size_kb server configuration char_device_file type cannot be created.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"The file ID of the directory in which to create the item.","in":"path","required":true,"type":"string"},{"name":"Request Body","description":"Request body","in":"body","required":true,"schema":{"$ref":"#/definitions/files-id-files-post-request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/files-id-files-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error, or filelocks are disabled.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid file ID.","schema":{"$ref":"#/definitions/error"}},"409":{"description":"Conflict. File already exists.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable. The access key is locked for backup.","schema":{"$ref":"#/definitions/error"}}}},"get":{"tags":["/files/{id}"],"summary":"List metadata for files in a directory","description":"List the metadata of files in the specified directory (IDs of links and folders are not supported). Bearer token users must have \"list\" permission (recursively) on the directory, and \"admin\" permissions to view file paths.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"Accept-version","in":"header","type":"string","required":false,"description":"Header 'Accept-version: 4.0' is newly introduced since HSTS 4.0, it improves the file browse performance without loading everything in and being able to do global sort and filter, so with this header, query parameters sort, min_size, max_size, min_modified_time, max_modified_time, target_id, target_node_id, files_prefetch_count, page, name_iglob are no longer supported."},{"name":"iteration_token","in":"header","type":"string","required":false,"description":"The iteration token to explore the current page. For the first page, this is not required, and the next page token will be returned in the header 'X-Aspera-Next-Iteration-Token'. This is used when header 'Accept-version' is present."},{"name":"id","description":"The ID of the folder.","in":"path","required":true,"type":"string"},{"name":"page","description":"Return the metadata of files in the directory as pages and for the specified page number.","in":"query","type":"integer"},{"name":"per_page","description":"Return the metadata for the specified number of files on each page.","in":"query","type":"integer"},{"name":"include","description":"Include the specified attributes in the metadata. Values are \"access_levels\", \"recursive_counts\", and \"filelocked_file_ids\".","in":"query","type":"string"},{"name":"sort","description":"Sort the files by the specified attribute. Sortable attributes are \"name\", \"size\", \"type\", \"modified_time\", \"recursive_folder_count\", \"recursive_link_count\", \"recursive_file_count\", or \"recursive_size\".","in":"query","type":"string"},{"name":"name","description":"Filter files by file name. Use this option to return metadata for a specific file.","in":"query","type":"string"},{"name":"name_glob","description":"Filter files by name using glob patterns that are case sensitive, such as \"*.TXT\".","in":"query","type":"string"},{"name":"name_iglob","description":"Filter files by name using glob patterns that are case insensitive, such as \"*.txt\".","in":"query","type":"string"},{"name":"min_size","description":"Filter files by size, returning metadata only for files that are larger than the specified value (in bytes).","in":"query","type":"integer"},{"name":"max_size","description":"Filter files by size, returning metadata only for files that are smaller than the specified value (in bytes).","in":"query","type":"integer"},{"name":"type","description":"Filter files by type. Value is \"file\", \"link\", or \"folder\".","in":"query","type":"string"},{"name":"min_modified_time","description":"Filter files by modified time, returning metadata only for files that were modified after the specified time. Time in ISO format.","in":"query","type":"string"},{"name":"max_modified_time","description":"Filter files by modified time, returning metadata only for files that were modified before the specified time. Time in ISO format.","in":"query","type":"string"},{"name":"target_id","description":"Filter files by target ID.","in":"query","type":"string"},{"name":"target_node_id","description":"Filter files by the ID of the node on which the symbolic link target is located.","in":"query","type":"string"}],"responses":{"200":{"description":"OK","headers":{"Access-Control-Expose-Headers":{"description":"A list of access control headers that are returned in the response. For example, X-Aspera-Node-Cache, X-Total-Count, X-Aspera-Next-Iteration-Token","type":"string"},"X-Aspera-Node-Cache":{"description":"Information about the node cache for debugging purposes.","type":"string"},"X-Total-Count":{"description":"The number of items for which metadata is returned. For example,  X-Total-Count: 2","type":"integer"},"X-Aspera-Next-Iteration-Token":{"description":"The next iteration token that can be used to explore the next page. This is returned when header 'Accept-version' is used.","type":"string"}},"schema":{"type":"array","items":{"$ref":"#/definitions/files-id-get-200"}}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid file ID.","schema":{"$ref":"#/definitions/error"}},"409":{"description":"Conflict. File already exists.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable. The access key is locked for backup.","schema":{"$ref":"#/definitions/error"}}}}},"/files/{id}":{"get":{"tags":["/files/{id}"],"summary":"Get the metadata of a file","description":"List the metadata of the specified file, symbolic link, or folder. Bearer token users must have \"list\" permission (recursively) on the directory and \"admin\" permissions to view file paths.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"Accept-version","in":"header","type":"string","required":false,"description":"Header 'Accept-version: 4.0' is newly introduced since HSTS 4.4 for GET /files/{id}?ajq_id=, with this header present, the delete job status can be requested with the parameter ajq_id."},{"name":"id","description":"The ID of the file, symbolic link, or directory","in":"path","required":true,"type":"string"},{"name":"include","description":"Include the specified attributes in the metadata. Value is \"access_levels\", \"permission_count\", \"recursive_counts\".","in":"query","type":"string"},{"name":"ajq_id","description":"the delete job id from the response of DELETE /files/{id}","in":"query","type":"string"},{"name":"stop","description":"To cancel/abort a delete job: stop=cancel: request job be cancelled. Node executing job will attempt to\n        cancel job if it has not been started. Resulting status will\n        either be canceled or might end up completing if not stopped\n        in time\nstop=abort:  try to stop job even if it has started execution, leaving\n        result in an indeterminate state. Job handler may or may not\n        be written to attempt this operation. If not, it will be\n        ignored. If job has not yet started execution, job status\n        will be returned as cancelled.","in":"query","type":"string","enum":["cancel","abort"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/files-id-get-200"}},"202":{"description":"With the header 'Accept-version: 4.0' present, 202 will be returned with a response body including the job status.","headers":{"Content-Type":{"description":"The file type, such as `text/plain` or `application/json`.","type":"string"},"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/files-id-get-202"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid file ID.","schema":{"$ref":"#/definitions/error"}},"409":{"description":"Conflict. File already exists.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable. The access key is locked for backup.","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["/files/{id}"],"summary":"Modify a file, symbolic link, or directory","description":"Rename the specified file, directory, or symbolic link. Change the mount point status of a directory. Bearer token users must have \"rename\" permission (recursively) on the file. Mount point status is only visible to master access keys.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"The ID of the file, symbolic link, or directory.","in":"path","required":true,"type":"string"},{"name":"Request body","description":"Request body","in":"body","required":true,"schema":{"$ref":"#/definitions/files-id-put-request"}}],"responses":{"204":{"description":"Success - No Content","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}}},"400":{"description":"Bad Request","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid file ID.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable. The access key is locked for backup.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}}}},"delete":{"tags":["/files/{id}"],"summary":"Delete a file, link, or directory","description":"Delete the specified file, symbolic link, or directory. Bearer token users must have \"delete\" permission (recursively) on the file.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"Accept-version","in":"header","type":"string","required":false,"description":"Header 'Accept-version: 4.0' is newly introduced since HSTS 4.4 for DELETE /files/{id}, with this header present, the delete request will be executed in the background."},{"name":"id","description":"The ID of the file, symbolic link, or directory to delete.","in":"path","required":true,"type":"string"}],"responses":{"202":{"description":"With the header 'Accept-version: 4.0' present, 202 will be returned with a response body including the job id.","headers":{"Content-Type":{"description":"The file type, such as `text/plain` or `application/json`.","type":"string"},"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/files-id-delete-202"}},"204":{"description":"Success - No Content","headers":{"Content-Type":{"description":"The file type, such as `text/plain` or `application/json`.","type":"string"},"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}}},"404":{"description":"Not Found. Invalid file ID.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable. The access key is locked for backup.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}}}}},"/files/{id}/content":{"get":{"tags":["/files/{id}"],"summary":"Get file contents","description":"List the contents of the specified file. Content cannot be returned for symbolic links or directories. Bearer token user must have \"read\" permission (recursively) on the file. Content cannot be returned for files that are larger than the configured maximum requested file creation size (\"max_request_file_create_size_kb\").","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"The id of the file.","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","headers":{"Content-Type":{"description":"The file type, such as `text/plain`.","type":"string"},"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"type":"string"}},"400":{"description":"Bad Request.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid file ID.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable. The access key is locked for backup.","schema":{"$ref":"#/definitions/error"}}}}},"/files/{uri_encoded_path}/contents":{"get":{"tags":["/files/{uri_encoded_path}/contents"],"summary":"Get file contents","description":"List the contents of the specified file with the uri encoded path relative to the docroot. Content cannot be returned for symbolic links or directories. The maximum size being returned is 4096 bytes.","parameters":[{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token. Value is the token string as \"Basic {token_string}\"."},{"name":"uri_encoded_path","description":"The uri encoded path of the file.","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"The maximum of 4096 bytes contents of the file is returned in the response.","headers":{"Content-Type":{"description":"The file type, such as `application/octet-stream`.","type":"string"},"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"type":"string"}},"400":{"description":"Bad Request.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"File Not Found. The path must be uri encoded.","headers":{"Content-Type":{"description":"The content type of the response, `application/json; charset=utf-8`.","type":"string"}},"schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable. The access key is locked for backup.","schema":{"$ref":"#/definitions/error"}}}}},"/files/{id}/filelock":{"post":{"deprecated":true,"tags":["/files/{id}/filelock"],"summary":"Filelock a file","description":"This operation is deprecated from HSTS/HSTE 4.4.0 and will be removed in a future release. Apply a filelock to a file that prevents other users from modifying the file, unless they are admins, in which case they can override the filelock. The filelock creates a backup of the original file as `.file.asp-bak` and a metadata file, `.file.asp-lck`, that contains the name of the user who locked the file. Bearer token users must have recursive \"read\", \"write\", and \"delete\" permissions on the file. Does not support non-files (folders or links).","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"Required string for request","in":"path","required":true,"type":"string"},{"name":"Request Body","description":"Request body","in":"body","required":true,"schema":{"$ref":"#/definitions/files-id-filelock-post-request"}}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/files-id-filelock-post-200"}},"400":{"description":"Bad Request.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid file ID.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable. The access key is locked for backup.","schema":{"$ref":"#/definitions/error"}}}},"get":{"deprecated":true,"tags":["/files/{id}/filelock"],"summary":"Get filelock information for a file","description":"This operation is deprecated from HSTS/HSTE 4.4.0 and will be removed in a future release. Retrieve filelock information for a file, including the access key associated with the user who applied the file lock and when the file lock was applied. If the filelock was applied by using Node API credentials and /files/filelock, the user information is not available. Bearer token users must have recursive \"read\", \"write\", and \"delete\" permissions on the file.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"The file ID","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/files-id-filelock-post-200"}},"400":{"description":"Bad Request.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable. The access key is locked for backup.","schema":{"$ref":"#/definitions/error"}}}},"put":{"deprecated":true,"tags":["/files/{id}/filelock"],"summary":"Modify the filelock on a file","description":"This operation is deprecated from HSTS/HSTE 4.4.0 and will be removed in a future release. Modify a filelock on a file by changing the tags or the status. The user must have created the filelock, or bearer token users must have recursive \"read\", \"write\", and \"delete\" permissions on the file. To revert a file to its state before the filelock was applied, either use a PUT /files/{id}/filelock request with the status value set to \"reverted\", or use a REVERT /files/{id}/filelock request.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"The file ID","in":"path","required":true,"type":"string"},{"name":"Request body","description":"Request body","in":"body","required":true,"schema":{"$ref":"#/definitions/files-id-filelock-put-request"}}],"responses":{"204":{"description":"Success - No Content"},"400":{"description":"Bad Request.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable. The access key is locked for backup.","schema":{"$ref":"#/definitions/error"}}}},"delete":{"deprecated":true,"tags":["/files/{id}/filelock"],"summary":"Delete a filelock","description":"This operation is deprecated from HSTS/HSTE 4.4.0 and will be removed in a future release. Delete the filelock on a file, including the file backup and metadata files. The user must have created the filelock, or bearer token users must have recursive \"read\", \"write\", and \"delete\" permissions on the file. Once a filelock is deleted, the file cannot be reverted to the original file as it was before the filelock was applied. To revert a file to its state before the filelock was applied, either use a PUT /files/{id}/filelock request with the status value set to \"reverted\", or use a REVERT /files/{id}/filelock request.\n","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"The file ID","in":"path","required":true,"type":"string"}],"responses":{"204":{"description":"Success - No Content"},"400":{"description":"Bad Request.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable. The access key is locked for backup.","schema":{"$ref":"#/definitions/error"}}}}},"/files/browse":{"post":{"tags":["/files/browse"],"summary":"Browse the specified path.","description":"Retrieve metadata about the contents of the specified path.","parameters":[{"name":"Browse request","in":"body","required":true,"schema":{"$ref":"#/definitions/filesBrowseRequest"}}],"responses":{"200":{"description":"OK - Successful response","schema":{"$ref":"#/definitions/filesBrowseResponse"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/files/page":{"post":{"tags":["/files/page"],"summary":"Paging through the file set","description":"This was introduced since 4.0. It provides a new interface to page through the whole file set with improved performance.","parameters":[{"name":"Request body","in":"body","required":true,"schema":{"$ref":"#/definitions/filesPageRequest"}}],"responses":{"200":{"description":"OK - Successful response","schema":{"$ref":"#/definitions/filesPageResponse"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/files/create":{"post":{"tags":["/files/create"],"summary":"Create files and directories","description":"All requests to this endpoint use the same headers.","parameters":[{"name":"Request body","description":"An array of pathnames to create and the type of object (directory, file, or symbolic link).","in":"body","required":true,"schema":{"$ref":"#/definitions/files-create-post-request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/files-create-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid pathname.","schema":{"$ref":"#/definitions/error"}},"409":{"description":"Conflict. Path already exists.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/files/delete":{"post":{"tags":["/files/delete"],"summary":"Delete file and directories","parameters":[{"name":"Request body","description":"An array of pathnames to delete. For directories, specify the behavior for deleting non-empty directories.","in":"body","required":true,"schema":{"$ref":"#/definitions/files-delete-post-request"}}],"responses":{"200":{"description":"OK. Pathnames from the request are returned. If a pathname could not be deleted, it is followed by an error message.","schema":{"$ref":"#/definitions/files-delete-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"403":{"description":"Forbidden. The directory cannot be deleted because it contains files that are in use.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. The file could not be found.","schema":{"$ref":"#/definitions/error"}},"409":{"description":"Directory Not Empty. The directory is not empty and \"recursive_delete\" is set to \"false\".","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/files/download_setup":{"post":{"tags":["/files/download_setup"],"summary":"Create a download transfer token","description":"FASP transfers can use transfer tokens to authorize the transfer. Transfer tokens are the most restrictive of the tokens and require careful configuration. Tokens expire after 24 hours.","parameters":[{"name":"Request body","description":"The download token configuration.","in":"body","required":true,"schema":{"$ref":"#/definitions/files-download_setup-post-request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/files-download_setup-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid pathnames.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/files/filelock":{"post":{"deprecated":true,"tags":["/files/filelock"],"summary":"Apply a filelock to a file","description":"This operation is deprecated from HSTS/HSTE 4.4.0 and will be removed in a future release. Apply a filelock to a file that prevents other users from modifying the file, unless they are admins, in which case they can override the filelock. The filelock creates a backup of the original file as .file.asp-bak and a metadata file, .file.asp-lck, that contains the name of the user who locked the file.","parameters":[{"name":"Request body","description":"An array of pathnames to filelock.","in":"body","required":true,"schema":{"$ref":"#/definitions/files-filelock-post-request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/files-filelock-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}}}}},"/files/info":{"post":{"tags":["/files/info"],"summary":"Get metadata for the files and directories that are specified in an array of paths. Available as of version 3.0.0. To get file information by using bearer token authentication, use the /files/{id} endpoint.","parameters":[{"name":"Request body","description":"An array of pathnames for which to return file metadata.","in":"body","required":true,"schema":{"$ref":"#/definitions/files-info-post-request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/files-info-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid pathname.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/files/rename":{"post":{"tags":["/files/rename"],"summary":"Rename files and directories","parameters":[{"name":"Request body","description":"An array of pathnames, with their current and new names.","in":"body","required":true,"schema":{"$ref":"#/definitions/files-rename-post-request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/files-rename-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid pathname.","schema":{"$ref":"#/definitions/error"}},"409":{"description":"Conflict. New pathname already exists.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/files/search":{"post":{"tags":["/files/search "],"summary":"Search the file system","parameters":[{"name":"Request body","description":"The search specifications, including the base path, number of items to return, and filters.","in":"body","required":true,"schema":{"$ref":"#/definitions/files-search-post-request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/files-search-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid pathname.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/files/upload_setup":{"post":{"tags":["/files/upload_setup"],"summary":"Create an upload transfer token","description":"Note: Transfer specifications that are set in aspera.conf overwrite the corresponding values in the request body when the token is created.","parameters":[{"name":"Request body","description":"The upload token configuration.","in":"body","required":true,"schema":{"$ref":"#/definitions/files-upload_setup-post-request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/files-upload_setup-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid pathnames.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/info":{"get":{"tags":["/info"],"summary":"Get information about the node configuration","description":"List information about the node configuration, including the version of the Aspera software, licensed features, the node ID and cluster ID, and requirements for the transfer specification, such as content protection or minimum cipher for encryption of data in transit.","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/info-get-200"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}}}}},"/ops/transfers":{"post":{"tags":["/ops/transfers"],"summary":"Start a new transfer","description":"Start a transfer between the local node (the node receiving the Node API request) and a remote node that uses the transfer specifications that are contained in the request body","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"Transfer Request","in":"body","required":true,"schema":{"$ref":"#/definitions/transferPostRequest"}}],"responses":{"200":{"description":"OK - Successful response","schema":{"$ref":"#/definitions/transferResponseSpec"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/error"}}}},"get":{"tags":["/ops/transfers"],"summary":"Get Information about transfers (all or filtered)","description":"Retrieve information about transfers to which you have access. The response can be filtered and sorted. To retrieve information about transfers that were started with Faspex or the Connect Server web UI, use the Reliable Query API. To retrieve bandwidth data, use /ops/transfers/bandwidth.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"Origin","in":"header","type":"string","required":false,"description":"Use this header to simulate CORS and permit access to the specified HTTP resource. The response includes headers to support CORS."},{"name":"after_time","in":"query","required":false,"type":"string","description":"Get transfers for which at least one event happened (sessions in progress or terminated) after the specified time. Value is time in ISO format."},{"name":"iteration_token","in":"query","required":false,"type":"string","description":"Get transfers after the specified iteration token. The iteration token defines a specific time in the log; it is generated by a previous request and returned in the LINK header. The same iteration token is reported to different applications as long as they are querying the same server."},{"name":"count","in":"query","required":false,"type":"integer","description":"Get no more than the specified number of transfers. If the number of transfers exceeds count, then the oldest count of transfer events are returned. Querying /ops/transfers again with the returned HTTP link header returns the next oldest set."},{"name":"active_only","in":"query","required":false,"type":"boolean","description":"If true, get only running transfers (waiting or running). If false, get only transfers that are not running (completed or failed)."},{"name":"direction","in":"query","required":false,"type":"string","description":"Get only transfers that are going in the specified direction. Value is \"send\" or \"receive\"."},{"name":"tag","in":"query","required":false,"type":"string","description":"Filter transfers by tag. The value can use the format {key}[,{keys}...] or {key}[,{keys}...]={value}. For example, to return all transfers that have \"xfer_retry\" set to 10 in the tags value (\"tags\":{\"aspera\":{\"xfer_retry\":10}}), use \"tag=aspera.xfer_retry%3D10\" (where \"%3D\" is URL-encoded \"=\"). To return transfers that are started with an access key (so the transfer specification includes \"tags\":{\"aspera\":{\"node\":{\"access_key\":\"{access_key_id}\"}}}), use \"tag=aspera.node.access_key\". To return transfers that are started with a specific access key, use \"tag=aspera.node.access_key%3D{access_key_id}\".\n"},{"name":"view","in":"query","required":false,"type":"string","description":"Return only the specified information. Allowed values are \"id\" (Return only the transfer session IDs), \"short_summary\" (Show an abbreviated summary and session information, but do not report file data), or \"summary\" (Show the full summary and session information, but do not report file data).\n"},{"name":"access_key","in":"query","required":false,"type":"string","description":"Get transfers that are authorized by the specified access key. This option is only allowed with node user authentication."}],"responses":{"200":{"description":"OK - Successful response","headers":{"Access-Control-Allow-Origin":{"description":"If the request included an \"Origin\" header, the resource specified in that header.","type":"string"},"Access-Control-Expose-Headers":{"description":"If the request included an \"Origin\" header, value is \"Link\".","type":"string"},"Link":{"description":"A URL to the next set of items that match the current request.","type":"string"}},"schema":{"type":"array","items":{"$ref":"#/definitions/transferResponseSessionSpec"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}}}}},"/ops/transfers/{transfer_id}":{"get":{"tags":["/ops/transfers"],"summary":"Get information about a specific transfer.","description":"Retrieve information about a specific transfer to which you have access and that was started by using the Node API.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"transfer_id","in":"path","required":true,"type":"string","description":"The ID of the transfer for which to report metadata."}],"responses":{"200":{"description":"OK - Successful response","schema":{"$ref":"#/definitions/transferResponseSessionSpec"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["/ops/transfers"],"summary":"Modify a transfer.","description":"Modify the transfer specification of an active transfer, specified by transfer ID, by submitting a partial or complete request body that contains the values.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"transfer_id","in":"path","required":true,"type":"string","description":"The ID of the transfer for which to report metadata."},{"name":"Put Request","in":"body","required":true,"schema":{"$ref":"#/definitions/transferPutRequest"}}],"responses":{"200":{"description":"OK - Successful response","schema":{"$ref":"#/definitions/transferResponseSpec"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/error"}}}},"delete":{"tags":["/ops/transfers"],"summary":"Cancel a transfer. Must use HTTP CANCEL action, not DELETE.","description":"Cancel a transfer. Use CANCEL instead of DELETE. The user must have access to the transfer and the transfer must be started by a Node API request. This is a shortcut to a PUT /ops/transfers/{id} request that has { \"status\" : \"canceled\" } as the request payload.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"transfer_id","in":"path","required":true,"type":"string","description":"The ID of the transfer for which to report metadata."}],"responses":{"204":{"description":"Success - No Content","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}}},"400":{"description":"Bad Request.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"503":{"description":"Service Unavailable","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}}}}},"/ops/transfers/bandwidth":{"get":{"tags":["/ops/transfers"],"summary":"Get bandwidth usage data for all transfers.","description":"Retrieve time series data on transfer rates for all transfers to which the user has access.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"duration","in":"query","type":"integer","description":"Get bandwidth data for the specified number of seconds at the start of each transfer. Default is 600, maximum is 3600."},{"name":"start_time","in":"query","type":"string","description":"Get bandwidth data for transfers after the specified time. Time is specified in ISO format."}],"responses":{"200":{"description":"OK - Successful response","schema":{"$ref":"#/definitions/bandwidthResponse"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}}}}},"/permissions":{"post":{"tags":["/permissions"],"summary":"Create a permission","description":"Apply permissions to a file or directory for a specific user. Accessible only if the user has any permission (recursively) on the associated file. Sub-access key users cannot create or view permissions.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"Request body","description":"Request schema","in":"body","required":true,"schema":{"$ref":"#/definitions/permissions-post-request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/permissions-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"403":{"description":"Forbidden. The user does not have access_id to create a permission.","schema":{"$ref":"#/definitions/error"}},"409":{"description":"Conflict. The permission already exists.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}},"get":{"tags":["/permissions"],"summary":"Get permissions information","description":"Get information about permissions and optionally filter the response. Sub-access key users cannot view permissions.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"file_id","description":"Get all permissions, including inherited (recursive) permissions, for the file ID. Requires any permission (recursively) on the file. The response includes only permissions that apply to the user, unless the user has any permissions on the root file, in which case all permission are returned.","in":"query","type":"string"},{"name":"inherited","description":"Use with \"file_id\" to retrieve all permissions with or without inherited (recursive) permissions. Requires any permission (recursively) on the file.","in":"query","type":"boolean"},{"name":"access_type","description":"Use with \"access_id\" to retrieve all permissions for the given access ID. Value is \"user\" or \"group\". Returns permission information only if the user is the access ID or has any permissions to the root file. Otherwise, filters permissions by access ID.","in":"query","type":"string"},{"name":"access_id","description":"Use with \"access_type\" to retrieve all permissions for the given access ID. Returns permission information only if the user is the access ID or has any permissions to the root file. Otherwise, filters permissions by access ID.","in":"query","type":"string"},{"name":"created_by_id","description":"Retrieve all permissions for the given ID. Returns permission information only if the user is the created by ID or has any permissions to the root file. Otherwise, filters permissions by created by ID and excludes inherited permissions.","in":"query","type":"string"},{"name":"page","description":"Return the permissions as pages. Use with \"per_page\" to set the number of permissions returned per page.","in":"query","type":"integer"},{"name":"per_page","description":"Return the specified number of permissions per page.","in":"query","type":"integer"},{"name":"embed[]","description":"Embed the file metadata in the response. Value is \"file\".","in":"query","type":"string"},{"name":"access_levels[]","description":"Filter permissions by access levels. Value is \"list\", \"read\", \"write\", \"delete\", \"mkdir\", \"rename\", or \"preview\". Available in HSTS as of version 3.7.4. Filter by multiple access levels by using multiple queries.","in":"query","type":"string"},{"name":"access_level","description":"Filter permissions by access level. For versions of HSTS older than 3.7.4. Value is \"edit\" or \"view\".","in":"query","type":"string"},{"name":"last_updated_by_id","description":"Filter permissions by \"last_updated_by_id\" and exclude inherited permissions.","in":"query","type":"string"},{"name":"tags","description":"Filter permissions by tag and exclude inherited permissions. Value has the format *tag_id*(*tag_value*).","in":"query","type":"string"}],"responses":{"200":{"description":"OK","headers":{"Access-Control-Expose-Headers":{"description":"A list of access control headers that are returned in the response. For example, Access-Control-Expose-Headers: X-Total-Count","type":"string"},"X-Total-Count":{"description":"The number of items for which metadata is returned. For example,  X-Total-Count: 2","type":"integer"}},"schema":{"$ref":"#/definitions/permissions-get-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/permissions/{id}":{"get":{"tags":["/permissions"],"summary":"Get permissions information for a specific permission","description":"Get information about a specific permission by permission ID. Accessible only if the user created the permission, is the target of the permission, or has any permission (recursively) on the associated file. Sub-access key users cannot view permissions.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"The permission ID","in":"path","required":true,"type":"string"},{"name":"embed[]","description":"Embed the file metadata in the response. Value is \"file\".","in":"query","type":"string"}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"The number of items for which metadata is returned. For example,  X-Total-Count: 2","type":"integer"}},"schema":{"$ref":"#/definitions/permissions-id-get-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid permission ID.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["/permissions"],"summary":"Modify a permission","description":"Modify the access levels or tags associated with a permission. A user can modify permissions on a file only if they were the creator or have any permissions (recursively) on the file. Only the access levels or tags can be modified. To change other settings, delete the permission and recreate it with the new values.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"The permission ID","in":"path","required":true,"type":"string"},{"name":"PutRequestSchema","description":"Request schema","in":"body","required":true,"schema":{"$ref":"#/definitions/permissions-id-put-request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/permissions-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"403":{"description":"Forbidden. The user does not have access_id to create a permission.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid permission ID.","schema":{"$ref":"#/definitions/error"}},"409":{"description":"Conflict. The permission already exists.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}},"delete":{"tags":["/permissions"],"summary":"Delete a permission","description":"Delete a permission, specified by permission ID.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"The permission ID","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"403":{"description":"Forbidden. The user does not have access_id to create a permission.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found. Invalid permission ID.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}},"409":{"description":"Conflict. The permission already exists.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/permissions-id-delete-409"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","headers":{"Content-Length":{"description":"The size of the response body, in bytes.","type":"integer"}},"schema":{"$ref":"#/definitions/error"}}}}},"/ping":{"get":{"tags":["/ping"],"summary":"Test the responsiveness of a node","description":"Send a request to the node to confirm that it is connected and responsive.","responses":{"200":{"description":"OK. No Content."},"500":{"description":"Internal Server Error."}}}},"/self":{"get":{"tags":["/self"],"summary":"Get access key metadata.","description":"Get metadata, including ID and storage path, for the access key that is associated with the basic token or bearer token that is used to authenticate the request.","responses":{"200":{"description":"OK - Successful response","schema":{"$ref":"#/definitions/accessKeyGETMetadata"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}}}}},"/space":{"post":{"tags":["/space"],"summary":"Get space information for the file system","description":"Get the total and available space for the file system, drives or partitions (logical or physical) that host one or more queried paths.","parameters":[{"name":"Request body","description":"The request body with an array of paths.","in":"body","required":true,"schema":{"$ref":"#/definitions/space-post-request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/space-post-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error. The server configuration is invalid.","schema":{"$ref":"#/definitions/error"}}}}},"/usage":{"get":{"tags":["/usage"],"summary":"Get all usage data","description":"Retrieve usage information, as allowed by the authentication method.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"access_key","description":"When authenticating with Node API credentials, retrieve usage data for the specified access key.","in":"query","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/usage-get-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Event logging is not enabled on the server or the usage ID is not valid.","schema":{"$ref":"#/definitions/error"}}}}},"/usage/{id}":{"get":{"tags":["/usage"],"summary":"Get usage data for a specific usage id","description":"Retrieve usage information for a specific usage ID, as allowed by the authentication method.","parameters":[{"name":"X-Aspera-AccessKey","in":"header","type":"string","required":false,"description":"Required only for bearer token authorization. The access key ID used to create the bearer token; value is the access key ID."},{"name":"Authorization","in":"header","type":"string","required":true,"description":"Required for basic token or bearer token authorization. Value is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"."},{"name":"id","description":"The usage ID.","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/usage-id-get-200"}},"400":{"description":"Bad Request. Request contains a formatting or syntax error.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Event logging is not enabled on the server or the usage ID is not valid.","schema":{"$ref":"#/definitions/error"}}}}}},"definitions":{"accessKeyRequest":{"properties":{"id":{"type":"string","description":"The access key ID. If no value is provided, the Node API creates one."},"secret":{"type":"string","description":"The access key secret."},"token_verification_key":{"type":"string","description":"Required when the access key is used to create a bearer token, the public key corresponding to the private key that is used to create the bearer token.","example":"-----BEGIN PUBLIC KEY-----\\r\\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDMLkM2xiSPWjj4NxBHUa0m2ZAm\\r\\niog3JM3VEMW6rhE6LUtXM1KxRawih5pyD8OuGOAUTZmw7mnL3Cbebdzmc+CuqEkS\\r\\nkFJrYWCzNgQcRxc9v+XKk0YN8BZvMDmrSInmNQ5TPfG3sz4KJcf9QMJ\\/TsR3rfns\\r\\nRYar\\/IDoOTbgJgGQkwIDAQAB\\r\\n-----END PUBLIC KEY-----"},"license":{"$ref":"#/definitions/accessKeyLicense"},"storage":{"$ref":"#/definitions/accessKeyStorageRequest"},"configuration":{"$ref":"#/definitions/accessKeyConfiguration"},"files_filelock_enabled":{"type":"boolean","description":"If true, allow the access key user to create filelocks. Filelocks cannot be set if filelocks are disabled on the server (\"files_filelock_enabled\" is set to false in aspera.conf). Available as of 3.8.0."},"files_filelock_restriction":{"type":"string","description":"Set to \"none\" to allow the access key user to write, delete, or rename files if they are not locked or if the filelock was applied by the user. Set to \"write\" to allow the access key user to write, delete, or rename files only if the filelock was applied by the user. Available as of 3.8.0."}},"required":["storage"]},"accessKeyStorageRequest":{"allOf":[{"$ref":"#/definitions/accessKeyStorageResponse"},{"type":"object","properties":{"credentials":{"$ref":"#/definitions/accessKeycreds"}}}]},"accessKeyStorageResponse":{"properties":{"type":{"type":"string","description":"The storage type. Use the value corresponding to the storage type. For local storage, set to \"local\". For Amazon S3, set to \"aws_s3\". For Azure Block and Page, set to \"azure\". For Azure SAS, set to \"azure_sas\". For Azure Files, set to \"azure-files\". For Google Cloud Storage, set to \"google-gcs\". For IBM Cloud Object Storage (COS) S3, set to \"ibm-s3\". If the storage type is any type other than \"local\", \"credentials\" is required."},"bucket":{"type":"string","description":"Required for Amazon S3 or IBM COS S3, the storage bucket.\n"},"endpoint":{"type":"string","x-example":"s3-api.us-geo.objectstorage.service.networklayer.com","description":"Required for Amazon S3 and IBM COS S3, the authentication endpoint.\n"},"container":{"type":"string","description":"The Azure storage container. Required for Azure Block, Azure Page, and Azure SAS.\n"},"path":{"type":"string","description":"The path to which the user has access. For local storage - the local storage path; required if the access key is used to start transfers with /ops/transfers. For Amazon S3 - the path within the bucket (optional). For Azure Block, Page, and SAS - the path within the container (optional). For Google Cloud Storage - the bucket and path within the storage endpoint. The bucket is required, the path is optional. For IBM Cloud Object Storage (COS) S3 - the path within the bucket (optional).\n"},"storage_endpoint":{"type":"string","x-example":"blob.core.windows.net","description":"Required for Azure Block and Azure Page storage, the authentication endpoint.\n"},"storage_class":{"type":"string","description":"For Amazon S3 storage, the type of storage. Value is \"STANDARD\", \"REDUCED_REDUNDANCY\", or \"INFREQUENT_ACCESS\". Default is \"STANDARD\"."},"server_side_encryption":{"type":"string","description":"For Amazon S3 storage, specify the type of server-side encryption if it is enabled on the storage. Value is \"AES256\" or \"AWS_KMS\". If \"AWS_KMS\", \"server_side_encryption_aws_kms_key_id\" is required.\n"},"server_side_encryption_aws_kms_key_id":{"type":"string","description":"Required for Amazon S3 storage with \"AWS_KMS\" server-side encryption, the ARN of the encryption key. For example, \"arn:aws:kms:us-east-1:648543846928:key/er23525-8754-84g4-8sf7-4834ngigfre45\"\n","example":"arn:aws:kms:us-east-1:648543846928:key/er23525-8754-84g4-8sf7-4834ngigfre45"},"api":{"type":"string","description":"Required for Azure Block, Page, and SAS, the storage API. Value is \"BLOCK\" or \"PAGE\".\n"},"max_segments_per_compose":{"type":"integer","description":"Required for Google Cloud Storage, the maximum number of compose parts, which enable high-speed transfer with the storage. Set to 10000.\n"}},"required":["type"]},"accessKeycreds":{"properties":{"type":{"type":"string","description":"Required for Amazon S3, Azure Block and Page, Google Cloud Storage, and IBM COS S3 storage. The type of access credentials provided. For Amazon S3 storage, the value is \"key\" (requires values for \"access_key_id\" and \"secret_access_key\"), \"iam-role\" (requires a value for \"iam_role_name\"), or \"assume-role\" (requires values for \"assume_role_arn\", \"assume_role_external_id\", and \"assume_role_session_name\"). For Azure Block and Page storage, the value must be \"key\". For Google Cloud Storage, the value is \"service_account\"; \"service_account\" with a private key requires \"private_key\" and \"client_email\", \"oauth\" requires \"client_id\", \"client_secret\", \"access_token\", \"oauth\" , \"refresh_token\", \"auth_uri\", \"token_uri\", \"auth_provider_x509_cert_url\", and \"client_x509_cert_url\". For IBM COS S3 storage, the value must be \"key\".\n"},"access_key_id":{"type":"string","description":"Required for Amazon S3 storage with \"key\" authentication and IBM COS S3 storage, the access key ID.\n"},"secret_access_key":{"type":"string","description":"Required for Amazon S3 storage with \"key\" authentication and IBM COS S3 storage, the access key secret.\n"},"iam_role_name":{"type":"string","description":"Required for Amazon S3 storage with \"iam-role\" authentication, the IAM role name.\n"},"assume_role_arn":{"type":"string","description":"Required for Amazon S3 storage with \"assume-role\" authentication, the assume role ARN, with the following format\n  \"arn:aws:iam::{your_aws_account_id}:role/{role_name}\n"},"assume_role_external_id":{"type":"string","description":"Required for Amazon S3 storage with \"assume-role\" authentication, the assume role external ID.\n"},"assume_role_session_name":{"type":"string","description":"For Amazon S3 storage with \"assume-role\" authentication, the assume role session name. Optional.\n"},"account":{"type":"string","description":"Required for Azure Block and Page storage, the account name.\n"},"key":{"type":"string","description":"Required for Azure Block and Page storage, the storage access key.\n"},"shared_access_signature":{"type":"string","description":"Required for Azure SAS storage, the shared URL.\n"},"file_service_endpoint":{"type":"string","description":"Required for Azure Files storage, the file service endpoint, with the following format \"https://{account}.file.core.windows.net/\"\n"},"password":{"type":"string","description":"Required for Azure Files storage, the password for the service endpoint.\n"},"project_id":{"type":"string","description":"Required for Google Cloud Storage, the project ID.\n"},"private_key_id":{"type":"string","description":"For Google Cloud Storage, the private key ID. Optional.\n"},"private_key":{"type":"string","description":"Required for Google Cloud Storage with \"service_account\" authentication, the private key string with the format\n`------BEGIN PRIVATE KEY------{key_string}------END PRIVATE KEY-----`\n"},"client_email":{"type":"string","description":"Required for Google Cloud Storage with \"service_account\" authentication, the client email with the format \"{client_id}@developer.gserviceaccount.com\"\n"},"client_id":{"type":"string","description":"Required for Google Cloud Storage with \"oauth\" authentication, the client ID.\n"},"client_secret":{"type":"string","description":"Required for Google Cloud Storage with \"oauth\" authentication, the client secret.\n"},"access_token":{"type":"string","description":"Required for Google Cloud Storage with \"oauth\" authentication, the access token.\n"},"refresh_token":{"type":"string","description":"For Google Cloud Storage with \"oauth\" authentication, the refresh token. Optional. Required only if you want to be able to refresh the access token when it expires.\n"},"token_expiration":{"type":"integer","description":"Required for Google Cloud Storage with \"oauth\" authentication, the number of seconds until the token expires.\n"},"auth_uri":{"type":"string","description":"Required for Google Cloud Storage with \"oauth\" authentication, the authentication URL \"https://accounts.google.com/o/oauth2/auth\".\n"},"token_uri":{"type":"string","description":"Required for Google Cloud Storage with \"oauth\" authentication, the token authentication URL \"https://accounts.google.com/o/oauth2/token\".\n"},"auth_provider_x509_cert_url":{"type":"string","description":"Required for Google Cloud Storage with \"oauth\" authentication, the URL for the authentication provider x509 certs.\n"},"client_x509_cert_url":{"type":"string","description":"Required for Google Cloud Storage with \"oauth\" authentication, the URL for the client x509 certs with the format \"https:www.googleapis.com/robot/v1/metadata/x509/{client_id}%40developer.gserviceaccount.com\"\n"}}},"accessKeyGETall":{"description":"An array of access key metadata.","type":"array","items":{"$ref":"#/definitions/accessKeyGETMetadata"}},"accessKeyGETMetadata":{"properties":{"id":{"type":"string","description":"The access key ID."},"root_file_id":{"type":"string","description":"The ID of the root file (the topmost storage) of the access key."},"token_verification_key":{"type":"string","description":"A token key that is configured on the node and used to authenticate token bearers."},"license":{"$ref":"#/definitions/accessKeyLicense"},"storage":{"$ref":"#/definitions/accessKeyStorageResponse"},"configuration":{"$ref":"#/definitions/accessKeyConfiguration"},"files_filelock_enabled":{"type":"boolean","description":"If true, allow the access key user to create filelocks. Filelocks cannot be set if filelocks are disabled on the server (\"files_filelock_enabled\" is set to false in aspera.conf). Available as of 3.8.0."},"files_filelock_restriction":{"type":"string","description":"Set to \"none\" to allow the access key user to write, delete, or rename files if they are not locked or if the filelock was applied by the user. Set to \"write\" to allow the access key user to write, delete, or rename files only if the filelock was applied by the user. Available as of 3.8.0."}}},"accessKeyLicense":{"properties":{"customer_id":{"type":"string","description":"The customer ID."},"entitlement_id":{"type":"string","description":"The entitlement ID."}}},"accessKeyConfiguration":{"properties":{"transfer":{"$ref":"#/definitions/accessKeyConfigTransfer"},"server":{"$ref":"#/definitions/accessKeyConfigServer"}}},"accessKeyPUTConfiguration":{"properties":{"transfer":{"$ref":"#/definitions/accessKeyPUTConfigTransfer"},"server":{"$ref":"#/definitions/accessKeyConfigServer"}}},"accessKeyConfigTransfer":{"properties":{"cipher":{"type":"string","description":"The encryption mode (CFB or GCM) and minimum cipher key length allowed by the server for transfers that are authorized by this access key. Value is \"none\", \"aes-128\", \"aes-192\", \"aes-256\", \"aes-128-cfb\", \"aes-192-cfb\", \"aes-256-cfb\", \"aes-128-gcm\", \"aes-192-gcm\", \"aes-256-gcm\". Default is unset, such that the transfer authorized by the access key must respect the server configuration. Available as of 3.8.0; values \"aes-XXX-cfb\" and \"aes-XXX-gcm\" are supported as of 3.9.0. See the HST Server 3.9.0 Admin guide for important client-server cipher compatibility information."},"policy":{"type":"string","description":"The policy allowed for transfers that are authorized by this access key. Value is \"high\", \"regular\", \"fair\", \"low\", \"trickle\", or \"fixed\". Aspera recommends against setting the policy to fixed, which can result in the transfer rate exceeding network or storage capacity if the client also requests a high minimum transfer rate that is not capped by the server. This can decrease transfer performance and cause problems on the target storage. To avoid these problems, set the allowed policy to fair. Available as of 3.8.0."},"target_rate_kbps":{"type":"integer","description":"The default initial rate for transfers that are authorized by this access key, in kilobits per second. Available as of 3.8.0."},"target_rate_cap_kbps":{"type":"integer","description":"The maximum target rate for transfers that are authorized by this access key, in kilobits per second. Available as of 3.8.0."},"content_protection_secret":{"type":"string","description":"Provide a password to require that content be encrypted by the client (enforce client-side encryption-at-rest) for transfers that are authorized by this access key, once set, it is not allowed to be changed via PUT. Available as of 3.8.0."},"preserve_timestamps":{"type":"boolean","description":"If true, preserve file access and modification timestamps for transfers that are authorized by this access key. The server configuration overrides the access key configuration. Timestamp support in object storage varies by provider; consult your object storage documentation to determine which settings are supported. Default is unset, such that the access key inherits the server configuration.  Available as of 3.8.0."},"aggressiveness":{"type":"number","format":"double","minimum":0,"maximum":1,"description":"The aggressiveness of transfers that are authorized by this access key in claiming available bandwidth. Value is 0.00-1.00. Available as of 3.8.0."},"token_encryption_key":{"type":"string","description":"The secret key being used to generate ATM tokens."},"byok_enabled":{"type":"boolean","description":"If true, the Bring Your Own Key is enabled. This is introduced in HSTS 4.0."},"bandwidth_flow_network_rc_module":{"type":"string","enum":["delay","delay-odp","delay-adv","delay-laq"],"description":"Incoming/Outgoing Rate Control Module, values can be delay, delay-odp, delay-adv or delay-laq. This is introduced in HSTS 4.0."}}},"accessKeyPUTConfigTransfer":{"properties":{"cipher":{"type":"string","enum":["none","aes-128","aes-192","aes-256","aes-128-cfb","aes-192-cfb","aes-256-cfb","aes-128-gcm","aes-192-gcm","aes-256-gcm"],"description":"The encryption mode (CFB or GCM) and minimum cipher key length allowed by the server for transfers that are authorized by this access key. Value is \"none\", \"aes-128\", \"aes-192\", \"aes-256\", \"aes-128-cfb\", \"aes-192-cfb\", \"aes-256-cfb\", \"aes-128-gcm\", \"aes-192-gcm\", \"aes-256-gcm\". Default is unset, such that the transfer authorized by the access key must respect the server configuration. Available as of 3.8.0; values \"aes-XXX-cfb\" and \"aes-XXX-gcm\" are supported as of 3.9.0."},"policy":{"type":"string","description":"The policy allowed for transfers that are authorized by this access key. Value is \"high\", \"regular\", \"fair\", \"low\", \"trickle\", or \"fixed\". Aspera recommends against setting the policy to fixed, which can result in the transfer rate exceeding network or storage capacity if the client also requests a high minimum transfer rate that is not capped by the server. This can decrease transfer performance and cause problems on the target storage. To avoid these problems, set the allowed policy to fair. Available as of 3.8.0."},"target_rate_kbps":{"type":"integer","description":"The default initial rate for transfers that are authorized by this access key, in kilobits per second. Available as of 3.8.0."},"target_rate_cap_kbps":{"type":"integer","description":"The maximum target rate for transfers that are authorized by this access key, in kilobits per second. Available as of 3.8.0."},"preserve_timestamps":{"type":"boolean","description":"If true, preserve file access and modification timestamps for transfers that are authorized by this access key. The server configuration overrides the access key configuration. Timestamp support in object storage varies by provider; consult your object storage documentation to determine which settings are supported. Default is unset, such that the access key inherits the server configuration.  Available as of 3.8.0."},"aggressiveness":{"type":"number","description":"The aggressiveness of transfers that are authorized by this access key in claiming available bandwidth. Value is 0.00-1.00. Available as of 3.8.0."}}},"accessKeyConfigServer":{"properties":{"activity_event_logging":{"type":"boolean","description":"If true, allow the Node API to query transfers that are associated with this access key through the /events endpoint. The access key configuration overrides the server configuration. This option must be enabled for event reporting to IBM Aspera on Cloud. Default is unset, such that the access key inherits the server configuration.  Available as of 3.8.0."},"recursive_counts":{"type":"boolean","description":"If true, enable recursive counts. This option must be enabled for event reporting to IBM Aspera on Cloud. The access key configuration overrides the server configuration. Default is unset, such that the access key inherits the server configuration. Available as of 3.8.0."},"aej_logging":{"type":"boolean","description":"If true, enable reporting to the IBM Aspera on Cloud Activity app. The access key configuration overrides the server configuration. Default is unset (access key inherits the value set in the server's aspera.conf). Available as of 3.9.0."},"activity_files_max":{"type":"number","description":"Maximum number of files to log per transfer via the reporting engine. This is introduced in HSTS 4.0."},"access_key_credentials_encryption_type":{"type":"string","description":"The encryption algorithm to encrypt the storage credential, content_protection_secret and token_encryption_key, currently aes-128-gcm is supported. This is introduced in HSTS 4.0."},"wss_enabled":{"type":"boolean","description":"If true, enable the web socket transfer service. This is introduced in HSTS 4.0."},"activity_transfer_ignore_skipped_files":{"type":"boolean","description":"If true, skipped files won't be reported in the /ops/transfers. This is introduced in HSTS 4.0."}}},"accessKeyPUTRequest":{"properties":{"secret":{"type":"string","description":"The access key secret."},"token_verification_key":{"type":"string","description":"A token key that is configured on the node and used to authenticate token bearers."},"license":{"$ref":"#/definitions/accessKeyLicense"},"storage":{"$ref":"#/definitions/accessKeyStorageRequest"},"configuration":{"$ref":"#/definitions/accessKeyPUTConfiguration"},"files_filelock_enabled":{"type":"boolean","description":"If true, allow the access key user to create filelocks. Filelocks cannot be set if filelocks are disabled on the server (\"files_filelock_enabled\" is set to false in aspera.conf). Available as of 3.8.0."},"files_filelock_restriction":{"type":"string","description":"Set to \"none\" to allow the access key user to write, delete, or rename files if they are not locked or if the filelock was applied by the user. Set to \"write\" to allow the access key user to write, delete, or rename files only if the filelock was applied by the user. Available as of 3.8.0."}}},"error":{"description":"The error response object.","properties":{"error":{"$ref":"#/definitions/errorBody"}}},"errorBody":{"description":"The contents of the error response object.","properties":{"code":{"type":"integer","description":"The HTTP error code."},"reason":{"type":"string","description":"The HTTP error message."},"user_message":{"type":"string","description":"A longer error description."}}},"events-get-200":{"description":"An array of event metadata.","type":"array","items":{"$ref":"#/definitions/events-id-get-200"}},"events-id-get-200":{"properties":{"id":{"description":"The event ID.","type":"string"},"time":{"description":"The time of the event in ISO format.","type":"string"},"user_id":{"description":"The user ID of the user who caused the event.","type":"string"},"types":{"description":"An array of the event types associated with the event.","type":"string","example":["permission.created"]},"data":{"description":"A JSON object with information about the event, corresponding to the Node API endpoint response for the action, such as the transfer specification for transfers, or file information for permissions changes.","type":"string"}}},"fileMetadata":{"properties":{"id":{"type":"string","description":"The file ID."},"path":{"type":"string","description":"The file pathname."},"start_time_usec":{"type":"integer","description":"The time the 
[...]
