openapi: 3.0.0
info:
  description: API for Aspera File Management
  version: 0.2.7
  title: Files API
  x-ibm-name: files-api_latest
  contact:
    name: Carole Baden
    email: cbaden@us.ibm.com
servers:
  - url: https://api.ibmaspera.com/
tags:
  - description: >-
      Use /clients to register your client application with the Files API. You
      can also modify your client, retrieve a list of all registered clients or
      a specific client, or delete a specific client. You can configure your
      client to use browser-based authentication or JSON web token (JWT)
      authentication.  For clients using JWT authentication, this endpoint
      relates to /client_authorizations.
    name: /clients
  - description: >-
      When you use the JWT authentication method for your client (see /clients)
      and enable a whitelist of authorized users or groups, you must configure
      which users or groups can access the API using your client, and which type
      of key each user can submit to retrieve an access token–either a
      user-specific key or a global key. Use the /client_authorizations endpoint
      to configure the authorized users or groups; use the /users endpoint to
      configure the user key types; use the /clients endpoint to configure the
      global key. There are two configuration parameters for users and keys.
      Users: All users: All users in the AoC organization are eligible to
      retrieve an access token; Only listed users: Only the users or groups you
      list are eligible to receive an access token. Keys: User-specific keys:
      The JWT must be signed with the specified user's own private key;
      User-specific keys and global key: The JWT can be signed with the
      specified user's own private key or with the global private key. Note: Any
      user accessing the AoC API using the JWT method must have their public key
      listed in their AoC user record. The user can enter their own public key,
      or the AoC administrator can enter the user's public key in the individual
      user's record. Important! API clients with a global key can retrieve
      access tokens for and act as any listed user. Use global keys according to
      local site security practice.
    name: /client_authorizations
  - description: >-
      Create a workspace (requires an admin token). The workspace is a distinct
      context in which workspace members can freely share files and send
      packages. All workspace users of the same type (for example, members or
      workspace managers) share collaboration settings for that user type. A
      workspace is a folder on a specific node; the workspace storage is
      separate from the storage of other workspaces. The workspace contains
      member users and groups. A workspace may have a workspace manager, who is
      also a workspace member, that can perform certain administrative function
      for that specific workspace. (Configure workspace manager using
      /workspace_memberships).
    name: /workspaces
  - description: >-
      Use this endpoint to add existing users as members of a workspace, and to
      update, retrieve, and delete workspace members. An Aspera on Cloud user
      can be a direct member of a workspace, or can inherit membership by being
      a member of a user group that is a member of the workspace. This endpoint
      allows you to add a user or group as a direct member of a workspace. You
      can also use this endpoint to grant or revoke workspace manager permission
      to a member (user or group).
    name: /workspace_memberships
  - description: >-
      A package is a bundle of files and folders (like a ZIP file or TAR file)
      specified by an AoC user to send to designated recipients. Packages can be
      sent to individuals, to groups (including to a workspace), or to shared
      inboxes. Packages can  be sent, received, recalled, archived, deleted.
      Sending a package can be completed with a user token or with an admin
      token. The process of sending a package comprises multiple steps. You use
      the POST, GET, and PUT methods of /packages, along with requests to the
      Connect API or the Node API.  The folder structure of a package on disk is
      as follows: {id}.asp-package contains metadata and other package-related
      files and contains contents, which contains the files and folders in the
      package. Uploads of package contents should go directly into the named,
      innermost folder. Downloads of the entire package should be of the named,
      outermost folder (renamed on download to the package name itself). To get
      package transfers to properly register, they should be tagged as follows:
      {"aspera": {"files": {"package_id" : the-package-id}}}.
    name: /packages
  - description: >-
      A user is anybody using this service. Users may be organization
      administrators, workspace managers, photographers, IT, etc. Users are
      identified by email address, so 'email' is a required property when
      creating a new user.
    name: /users
  - name: /nodes
    description: >
      The Nodes resource contains the information that a client app can use to
      communicate directly with an Aspera transfer server (which has files and
      folders).
  - description: >
      A shared inbox (formerly called a dropbox) serves three functions. First,
      it acts as a place where users can submit content. Second, it notifies its
      members when new content arrives. Finally, it can ask users who submit new
      content to fill out a form using a metadata schema.
    name: /dropboxes
  - description: >
      Use this endpoint to add existing members to a dropbox and to update,
      retrieve, and delete existing dropbox members. An Aspera on Cloud user can
      be a direct member of a dropbox or they can inherit membership through a
      user group.
    name: /dropbox_memberships
  - name: /usage_reports
    description: >
      When enabled, usage reporting collects information about the number of
      bytes transferred into and out of an organization, on a per-workspace or
      per-access key basis. A report begins at the start of a month (or when
      usage reporting is enabled) and ends at the beginning of the next month,
      when a new report is created. An active report for the current month
      shows  month-to-date usage information, while usage reports for previous
      months no longer change and show historical data. Due to the way the
      reporting information is collected, the number of bytes transferred is an
      approximation and may vary from the actual billed usage if there are
      transfers that are close to or spanning the changeover between months.
      NOTE: Usage reports are read-only resources and all attributes are
      read-only.
  - name: /organizations
    description: >
      An organization contains all the users, groups, and resources belonging to
      a real-world organization. Users within an organization can see only the
      organization they are in. Organization admins can change certain
      properties of the organization. All other users within the organization
      have read-only access. Note: /organization is an alias to
      /organizations/{current user's organization id}.
  - description: >
      This endpoint is used to manage existing transfer node access keys.
      Specifically, it streamlines the task of viewing all access keys across
      all transfer nodes that belong to your organization. Note that this
      endpoint is not capable of creating or destroying transfer node access
      keys (that is handled via the Node API). Organization admin or workspace
      manager permissions are required for any access to this endpoint.
    name: /client_access_keys
  - description: >
      The /apps/app_memberships endpoint is useful for organization admins that
      want to enable users to access the Automation or Activity apps.
      Additionally, this endpoint is useful for admins who want to view all app
      memberships across their entire organization, or for any other user to
      view their own app memberships.
    name: /apps/app_memberships
paths:
  /apps/app_memberships:
    get:
      parameters:
        - description: Can be "activity" or "automation".
          in: query
          name: aspera_app_type
          schema:
            type: string
        - in: query
          name: created_at
          schema:
            format: date-time
            type: string
        - description: |
            Set to false if you want to filter out inherited memberships.
          in: query
          name: inherited
          schema:
            type: boolean
        - in: query
          name: last_login_at
          schema:
            format: date-time
            type: string
        - description: For member_type=user.
          in: query
          name: member.email
          schema:
            type: string
        - description: For member_type=user.
          in: query
          name: member.name
          schema:
            type: string
        - description: Can be "user" or "group".
          in: query
          name: member_type
          schema:
            type: string
        - description: Searches member.email and member.name.
          in: query
          name: q
          schema:
            type: string
        - description: Specify a field for sorting results.
          in: query
          name: sort
          schema:
            type: string
        - in: query
          name: updated_at
          schema:
            format: date-time
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app_memberships_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - /apps/app_memberships
      description: >
        Get a listing of app memberships. For organization admins, all app
        memberships for the entire organization are available to view. For all
        other users, your own app memberships are available.
      operationId: get_app_memberships
      summary: Get a Listing of App Memberships
  /apps/app_memberships/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - /apps/app_memberships
      description: >
        Delete an app membership, specified by membership ID. Requires
        organization admin permission.
      operationId: delete_app_membership
      summary: Delete a Specific App Membership
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_memberships_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - /apps/app_memberships
      description: >
        Get information about a specific app membership, specified by membership
        ID.
      operationId: get_app_membership_by_id
      summary: Get Information About a Specific App Membership
  /apps/{aspera_app_type}/app_memberships:
    post:
      parameters:
        - in: path
          name: aspera_app_type
          required: true
          schema:
            enum:
              - activity
              - automation
            type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_memberships_response'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /apps/app_memberships
      description: |
        Create an app membership. Requires organization admin permission.
      operationId: add_app_membership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_memberships_params'
        required: true
      summary: Create a New App Membership
  /client_access_keys:
    get:
      parameters:
        - in: query
          name: node_id
          schema:
            type: string
        - in: query
          name: root_file_id
          schema:
            type: string
        - in: query
          name: permission_id
          schema:
            type: string
        - in: query
          name: workspace_id
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/client_access_keys_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - /client_access_keys
      description: Get a listing of client access keys for your organization.
      operationId: get_client_access_keys
      summary: Get a Listing of Client Access Keys
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_access_keys_response'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /client_access_keys
      description: Create a client access key.
      operationId: add_client_access_key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client_access_keys_params'
        required: true
      summary: Register a New Client Access Key with Aspera on Cloud
  /client_access_keys/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - /client_access_keys
      description: Delete a client access key, specified by ID.
      operationId: delete_client_access_key
      summary: Delete a Specific Client Access Key
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_access_keys_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - /client_access_keys
      description: |
        Get information about a specific client access key, specified by ID.
      operationId: get_client_access_key_by_id
      summary: Get Information About a Specific Client Access Key
    put:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /client_access_keys
      description: Update the name of a client access key.
      operationId: update_client_access_key
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the client access key.
                  example: MyAccessKey
                  type: string
              type: object
        required: true
      summary: Update the Name of a Client Access Key
  /client_authorizations:
    get:
      parameters:
        - in: query
          name: client_id
          schema:
            type: string
        - in: query
          name: entity_id
          schema:
            type: string
        - in: query
          name: entity_type
          schema:
            type: string
        - description: embed[]=entity (gives back entity which should be user/group)
          in: query
          name: embed[]
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/client_authorizations_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /client_authorizations
      description: Get a listing of information on all client whitelists.
      operationId: get_client_authorizations
      summary: Get a Listing of Information on all Client Whitelists
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_authorizations_response'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /client_authorizations
      description: >-
        Create an authorization for an API client. Each entity to authorize
        requires a separate request.
      operationId: add_client_authorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client_authorizations_params'
        required: true
      summary: Create a New Authorization
  /client_authorizations/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /client_authorizations
      description: Delete a user from a client whitelist.
      operationId: delete_client_authorization
      summary: Delete a User from a Client Whitelist
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: embed[]=entity (gives back entity which should be user/group)
          in: query
          name: embed[]
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_authorizations_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /client_authorizations
      description: >-
        Retrieve a listing with information on all entities in the whitelist for
        a specific client.
      operationId: get_client_authorization_by_id
      summary: Get Information on Entities in a Whitelist for a Specific Client
  /clients:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/clients_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /clients
      description: >-
        Get a listing of clients currently registered to use the Aspera on Cloud
        API.
      operationId: get_clients
      summary: Get a Listing of All Registered Clients
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clients_response'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /clients
      description: Create an API client.
      operationId: add_client
      requestBody:
        $ref: '#/components/requestBodies/clients_params'
      summary: Register a New Client with the Files API
  /clients/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /clients
      description: Delete a registered client, specified by client ID.
      operationId: delete_client
      summary: Delete a Specific Registered Client
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clients_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /clients
      description: >-
        Get information about a specific registered client, specified by the
        client ID returned in the GET response.
      operationId: get_client_by_id
      summary: Get Information about a Specific Registered Client
    put:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /clients
      description: >-
        Update a registered client. For example, change the redirect URI and the
        admin node token retrieval parameters.
      operationId: update_client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clients_params'
        required: true
      summary: Modify a Registered Client
  /dropbox_memberships:
    get:
      parameters:
        - in: query
          name: can_invite_submitters
          schema:
            type: boolean
        - in: query
          name: can_receive_packages
          schema:
            type: boolean
        - in: query
          name: can_submit_packages
          schema:
            type: boolean
        - in: query
          name: created_at
          schema:
            format: date-time
            type: string
        - in: query
          name: creator_id
          schema:
            type: string
        - description: >
            Filters memberships with member_type = "user" by their "deactivated"
            attribute.
          in: query
          name: deactivated
          schema:
            type: boolean
        - in: query
          name: dropbox_id
          schema:
            type: string
        - description: >
            embed%5B%5D=member (user or group object from member_id),
            embed%5B%5D=dropbox (dropbox object from dropbox_id)
          in: query
          name: embed%5B%5D
          schema:
            type: string
        - description: >
            Specifies whether or not to include inherited memberships in the
            response. Typically used when an admin is looking at the memberships
            for a particular member_id or when a user is looking at their own
            memberships.
          in: query
          name: inherited
          schema:
            type: boolean
        - in: query
          name: manager
          schema:
            type: boolean
        - in: query
          name: member.email
          schema:
            type: string
        - in: query
          name: member.last_login_at
          schema:
            format: date-time
            type: string
        - in: query
          name: member.last_name
          schema:
            type: string
        - in: query
          name: member.system_group
          schema:
            type: boolean
        - in: query
          name: member_id
          schema:
            type: string
        - description: Either "user" or "group"
          in: query
          name: member_type
          schema:
            type: string
        - description: >
            Search member.email, member.first_name, member.last_name, and
            member.name.
          in: query
          name: q
          schema:
            type: string
        - in: query
          name: updated_at
          schema:
            format: date-time
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/dropbox_memberships_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - /dropbox_memberships
      description: >
        Get a listing of information about the current members of a given
        dropbox.
      operationId: get_dropbox_memberships
      summary: Get a Listing of All Dropbox Members
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dropbox_memberships_params'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /dropbox_memberships
      description: Add a user or group as a member of this dropbox.
      operationId: add_dropbox_membership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dropbox_memberships_params'
        required: true
      summary: Add a Dropbox Member
  /dropbox_memberships/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - /dropbox_memberships
      description: >
        Remove a direct dropbox membership. Note: If the user also has indirect
        membership through a group, the user will still have access to the
        dropbox.
      operationId: delete_dropbox_membership
      summary: Remove a Member from a Dropbox
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >
            embed%5B%5D=member (member object from member_id),
            embed%5B%5D=dropbox (dropbox object from dropbox_id)
          in: query
          name: embed%5B%5D
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dropbox_memberships_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - /dropbox_memberships
      description: Get information on a specific dropbox membership.
      operationId: get_dropbox_membership_by_id
      summary: Get Information on a Specific Dropbox Membership
    put:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /dropbox_memberships
      description: Update an existing dropbox membership.
      operationId: update_dropbox_membership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dropbox_memberships_update_params'
        required: true
      summary: Update a Dropbox Membership
  /dropboxes:
    get:
      parameters:
        - description: Time at which the shared inbox was created.
          in: query
          name: created_at
          schema:
            format: date-time
            type: string
        - in: query
          name: name
          schema:
            type: string
        - description: Time at which the shared inbox was last updated.
          in: query
          name: updated_at
          schema:
            format: date-time
            type: string
        - description: Searches across shared inbox descriptions and names.
          in: query
          name: q
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/dropboxes_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - /dropboxes
      description: Retrieve a listing of all shared inboxes.
      operationId: get_dropboxes
      summary: Get a Listing of All Shared Inboxes
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dropboxes_response'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /dropboxes
      description: Create a new shared inbox.
      operationId: add_dropbox
      requestBody:
        $ref: '#/components/requestBodies/dropboxes_params'
      summary: Create a New Shared Inbox
  /dropboxes/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /dropboxes
      description: Delete a specific shared inbox, specified by shared inbox ID.
      operationId: delete_dropbox
      summary: Delete a Specific Shared Inbox
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dropboxes_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - /dropboxes
      description: Retrieve information on a specific shared inbox.
      operationId: get_dropbox_by_id
      summary: Get Information on a Specific Shared Inbox
    put:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /dropboxes
      description: Make changes to an existing shared inbox.
      operationId: update_dropbox
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dropboxes_params'
        required: true
      summary: Update a Shared Inbox
  /nodes:
    get:
      parameters:
        - in: query
          name: access_key
          schema:
            type: string
        - in: query
          name: host
          schema:
            type: string
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: path
          schema:
            type: string
        - in: query
          name: port
          schema:
            type: string
        - description: >-
            Full text search that will show transfer nodes with matching
            access_key, host, name, path, or port.
          in: query
          name: q
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/nodes_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - /nodes
      description: Get information about all transfer nodes belonging to your organization.
      operationId: get_nodes
      summary: Get a Listing of All Nodes
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nodes_response'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /nodes
      description: Create a new transfer node. User must be an organization admin.
      operationId: add_node
      requestBody:
        $ref: '#/components/requestBodies/nodes_params'
      summary: Create a New Node
  /nodes/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /nodes
      description: >-
        Delete a specific transfer node, as specified by node ID. User must be
        an organization admin.
      operationId: delete_node
      summary: Delete a Specific Node
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nodes_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - /nodes
      description: Retrieve information about a specific transfer node.
      operationId: get_node_by_id
      summary: Get Information on a Specific Node
    put:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /nodes
      description: >-
        Make changes to an existing transfer node. User must be an organization
        admin.
      operationId: update_node
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nodes_params'
        required: true
      summary: Update a Node
  /organizations/{id}:
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizations_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - /organizations
      description: Retrieve information about your organization.
      operationId: get_organization
      summary: Get Information About Your Organization
    put:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /organizations
      description: >
        Make changes to your organization. Must be an organization admin to
        access.
      operationId: update_organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organizations_params'
        required: true
      summary: Update Your Organization
  /packages:
    get:
      parameters:
        - in: query
          name: complete
          schema:
            type: boolean
        - in: query
          name: completed
          schema:
            type: boolean
        - in: query
          name: completed_at
          schema:
            format: date-time
            type: string
        - in: query
          name: deleted
          schema:
            type: boolean
        - in: query
          name: dropbox_id
          schema:
            type: string
        - in: query
          name: expired
          schema:
            type: boolean
        - in: query
          name: failed
          schema:
            type: boolean
        - in: query
          name: draft
          schema:
            type: boolean
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: sent_at
          schema:
            format: date-time
            type: string
        - in: query
          name: created_at
          schema:
            format: date-time
            type: string
        - in: query
          name: deleted_at
          schema:
            format: date-time
            type: string
        - in: query
          name: size
          schema:
            type: integer
        - in: query
          name: workspace_id
          schema:
            type: string
        - in: query
          name: sender_email
          schema:
            type: string
        - in: query
          name: sender_id
          schema:
            type: string
        - in: query
          name: sender_name
          schema:
            type: string
        - in: query
          name: type
          schema:
            type: string
        - in: query
          name: archived
          schema:
            type: boolean
        - in: query
          name: read
          schema:
            type: boolean
        - in: query
          name: received
          schema:
            type: boolean
        - in: query
          name: sent
          schema:
            type: boolean
        - in: query
          name: updated_at
          schema:
            format: date-time
            type: string
        - in: query
          name: include_draft
          schema:
            type: boolean
        - in: query
          name: exclude_dropbox_packages
          schema:
            type: boolean
        - in: query
          name: has_content
          schema:
            type: boolean
        - description: embed[]=node (node from node_id) embed[]=workspace
          in: query
          name: embed[]
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/packages_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /packages
      description: >-
        Get information about all packages or retrieve packages sent to me in a
        specific workspace, sent to me as individual (not as a member of a
        dropbox), that are not archived and not deleted if the user ID is
        included in the token sent with the call.
      operationId: get_packages
      summary: Get a Listing of All Packages
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packages_response'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /packages
      description: Recipient can be an individual user, workspace, or a dropbox.
      operationId: add_package
      requestBody:
        $ref: '#/components/requestBodies/packages_params'
      summary: Create Package to Send
  /packages/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /packages
      description: >-
        Use package_id to delete the contents of a specific package. This action
        removes package contents permanently, but retains information on the
        package: sender, recipients, size, date, metadata if any, download
        history, and transfer specs like rate.
      operationId: delete_package
      summary: Delete a Specific Package
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: embed[]=node (node from node_id) embed[]=workspace
          in: query
          name: embed[]
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packages_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /packages
      description: Get information on a specific package.
      operationId: get_package_by_id
      summary: Get Information on a Specific Package
    put:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /packages
      description: >-
        Use the PUT method to mark the package "sent=true", including the proper
        number of transfers in the "transfers_expected" field, after the
        transfers have completed. The number of transfers expected depends on
        the number of discrete source locations of package contents.
      operationId: update_package
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/packages_params'
        required: true
      summary: Update a package
  /usage_reports:
    get:
      parameters:
        - in: query
          name: node_id
          schema:
            type: string
        - in: query
          name: workspace_id
          schema:
            type: string
        - in: query
          name: reporting_period_started_at
          schema:
            format: date-time
            type: string
        - in: query
          name: reporting_period_ended_at
          schema:
            format: date-time
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/usage_reports_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - /usage_reports
      description: Get a listing of usage reports.
      operationId: get_usage_reports
      summary: Get a Listing of Usage Reports
  /users:
    get:
      parameters:
        - in: query
          name: created_at
          schema:
            format: date-time
            type: string
        - in: query
          name: deactivated
          schema:
            type: boolean
        - in: query
          name: email
          schema:
            type: string
        - in: query
          name: first_name
          schema:
            type: string
        - in: query
          name: last_login_at
          schema:
            format: date-time
            type: string
        - in: query
          name: last_name
          schema:
            type: string
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: organization_admin
          schema:
            type: boolean
        - in: query
          name: updated_at
          schema:
            format: date-time
            type: string
        - description: embed[]=home_node embed[]=organization
          in: query
          name: embed[]
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/users_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /users
      description: Get a list of information about all users.
      operationId: get_users
      summary: Get a Listing of Users
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_response'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /users
      description: Create a new user.
      operationId: add_user
      requestBody:
        $ref: '#/components/requestBodies/users_params'
      summary: Create a New User
  /users/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /users
      description: Delete a specific user.
      operationId: delete_user
      summary: Delete a Specific User
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: embed[]=home_node embed[]=organization
          in: query
          name: embed[]
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /users
      description: Get Information on a specific user.
      operationId: get_user_by_id
      summary: Get Information on a Specific User
    put:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /users
      description: >-
        Make a change to an existing user; for example, make a user an
        administrator.
      operationId: update_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users_params'
        required: true
      summary: Update a Specific User Record
  /workspace_memberships:
    get:
      parameters:
        - in: query
          name: can_invite_by_email
          schema:
            type: boolean
        - in: query
          name: manager
          schema:
            type: string
        - in: query
          name: workspace_id
          schema:
            type: integer
        - in: query
          name: storage_allowed
          schema:
            type: boolean
        - description: >-
            embed[]=user (user object from user_id) embed[]=node (node from
            node_id) embed[]=group (from group_id) embed[]=workspace
          in: query
          name: embed[]
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/workspace_memberships_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /workspace_memberships
      description: Get information about the current members of a given workspace.
      operationId: get_workspace_memberships
      summary: Get a Listing of All Workspace Members
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspace_memberships_response'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /workspace_memberships
      description: Add a user as a member of this workspace.
      operationId: add_workspace_membership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workspace_memberships_params'
        required: true
      summary: Add a User as a Workspace Member
  /workspace_memberships/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /workspace_memberships
      description: >-
        Remove a direct workspace membership. Note: If the user has indirect
        membership, through a group for example, the user still has access to
        the workspace.
      operationId: delete_workspace_membership
      summary: Remove a Member from a Workspace
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            embed[]=user (user object from user_id) embed[]=node (node from
            node_id) embed[]=group (from group_id) embed[]=workspace
          in: query
          name: embed[]
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspace_memberships_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /workspace_memberships
      description: Get information on a specific membership.
      operationId: get_workspace_membership_by_id
      summary: Get Information on a Specific Membership
    put:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /workspace_memberships
      description: Make an existing workspace member a workspace manager.
      operationId: update_workspace_membership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workspace_memberships_update_params'
        required: true
      summary: Update a Workspace Membership
  /workspaces:
    get:
      parameters:
        - description: datetime
          in: query
          name: created_at
          schema:
            format: date-time
            type: string
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: node_id
          schema:
            type: integer
        - in: query
          name: updated_at
          schema:
            format: date-time
            type: string
        - in: query
          name: manager
          schema:
            type: boolean
        - description: >-
            embed[]=node (node from node_id) embed[]=group (from group_id)
            embed[]=organization
          in: query
          name: embed[]
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/workspaces_response'
                type: array
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /workspaces
      description: Retrieve a listing of all configured workspaces.
      operationId: get_workspaces
      summary: Get a Listing of All Workspaces
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspaces_response'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /workspaces
      description: Create a new workspace.
      operationId: add_workspace
      requestBody:
        $ref: '#/components/requestBodies/workspaces_params'
      summary: Create a New Workspace
  /workspaces/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /workspaces
      description: Delete a specific workspace, specified by workspace ID.
      operationId: delete_workspace
      summary: Delete a specific Workspace
    get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            embed[]=node (node from node_id) embed[]=group (from group_id)
            embed[]=organization
          in: query
          name: embed[]
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspaces_response'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /workspaces
      description: Retrieve information on a specific workspace.
      operationId: get_workspace_by_id
      summary: Get Information on a Specific Workspace
    put:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      tags:
        - /workspaces
      description: >-
        Make changes to an existing workspace; for example, change collaboration
        settings.
      operationId: update_workspace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workspaces_params'
        required: true
      summary: Update a Workspace
components:
  requestBodies:
    clients_params:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/clients_params'
      required: true
    dropboxes_params:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/dropboxes_params'
      required: true
    nodes_params:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/nodes_params'
      required: true
    packages_params:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/packages_params'
      required: true
    users_params:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/users_params'
      required: true
    workspaces_params:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/workspaces_params'
      required: true
  schemas:
    app_memberships_params:
      properties:
        member_id:
          description: The ID of the member that this membership belongs to.
          example: '27'
          type: string
        member_type:
          description: The type of member that this membership belongs to.
          enum:
            - user
            - group
          example: user
          type: string
      type: object
    app_memberships_response:
      properties:
        app_name:
          description: Name of the app that the membership belongs to.
          example: Activity
          type: string
        app_type:
          description: Type of app that the membership belongs to.
          enum:
            - activity
            - automation
          example: activity
          type: string
        id:
          description: ID of the app membership.
          example: '372'
          type: string
        member_id:
          example: '213'
          type: string
        member_type:
          enum:
            - user
            - group
          example: user
          type: string
      type: object
    client_access_keys_params:
      properties:
        id:
          description: ID of the client access key.
          example: '999'
          type: string
        name:
          description: Name of the client access key.
          example: MyAccessKey
          type: string
        node_id:
          description: ID of the transfer node that the client access key belongs to.
          example: '42'
          type: string
        permission_id:
          example: null
          type: string
        root_file_id:
          description: |
            ID of the directory that this access key grants permissions for.
          example: bar
          type: string
      required:
        - id
        - root_file_id
        - node_id
      type: object
    client_access_keys_response:
      properties:
        created_at:
          description: Date at which the client access key was created.
          example: '2019-06-20T17:23:50Z'
          format: date-time
          type: string
        id:
          description: ID of the client access key.
          example: '999'
          type: string
        name:
          description: Name of the client access key.
          example: MyAccessKey
          type: string
        node_id:
          description: ID of the transfer node that the client access key belongs to.
          example: '42'
          type: string
        permission_id:
          example: null
          type: string
        root_file_id:
          description: |
            ID of the directory that this access key grants permissions for.
          example: bar
          type: string
        updated_at:
          description: Date when the client access key was last updated.
          example: '2019-06-20T17:23:50Z'
          format: date-time
          type: string
        workspace_id:
          description: ID of the workspace that the client access key belongs to.
          example: '24'
          type: string
      type: object
    client_authorizations_params:
      properties:
        client_id:
          description: The ID of the client.
          example: '23749'
          type: string
        entity_id:
          description: The ID of the entity that can be authorized.
          example: 0
          type: integer
        entity_type:
          description: |
            The type of entity who can be authorized. Default is user.
          enum:
            - user
            - group
          example: user
          type: string
      required:
        - client_id
        - entity_type
        - entity_id
      type: object
    client_authorizations_response:
      properties:
        client_id:
          description: The ID of the client.
          example: '0'
          type: string
        created_at:
          description: The timestamp of authorization.
          example: '2018-02-06T00:03:24Z'
          format: date-time
          type: string
        entity_id:
          description: The ID of the entity that can be authorized.
          example: 151
          type: integer
        entity_type:
          description: |
            The type of entity who can be authorized. Default is user.
          enum:
            - user
            - group
          example: user
          type: string
        id:
          description: The client ID
          example: '23749'
          type: string
        updated_at:
          description: The timestamp of the most recent update.
          example: '2018-02-06T00:03:24Z'
          format: date-time
          type: string
      type: object
    clients_params:
      properties:
        admin_node_token_retrieval_enabled:
          description: >-
            If you use the JWT grant type (jwt_grant_enabled=true), whether or
            not to allow users of this client who are AoC administrators to
            retrieve admin-scoped node access tokens. Such a token provides the
            user with admin privileges on the node itself. Admin permissions
            required. Defaults to false.
          example: false
          type: boolean
        explicit_authorization_required:
          description: >-
            Use with browser-based authorization. When users log in using the
            client app via a browser, prompt them to explicitly allow access to
            AoC features. Admin permissions required. Defaults to true.
          example: true
          type: boolean
        jwt_grant_enabled:
          description: >-
            Allow the client to authenticate using the JSON web token method.
            The JWT grant allows the users of the client to log in without
            having to use a web browser. Admin permissions required.
          example: false
          type: boolean
        name:
          description: >-
            The name of the client app to register. Admin permissions required.
            POST: required. PUT: not required.
          example: AoC_Client
          type: string
        origins:
          description: >-
            The allowable list of origins for the client. An origin is the URI
            or protocol-host-port of the client app initial login page, from
            which the user must arrive to the authentication flow. Array of JSON
            origins (strings) Admin permissions required. Separate multiple
            origins with commas. Maximum characters: 65535.
          example:
            - https://ClientOrigin.com
          items:
            type: string
          type: array
        public_key:
          description: >-
            RSA public key in PEM format. The corresponding private key can be
            used to generate a JWT assertion for any user in the organization.
            Admin permissions required. Maximum characters: 65535.
          example: |-
            -----BEGIN PUBLIC KEY-----
            MIIBI ... 7QIDAQAB
            -----END PUBLIC KEY-----
          type: string
        redirect_uris:
          description: >-
            The allowable list of redirect URIs for the client. A redirect URI
            (protocol-host-port) is an absolute URI invoked after the
            authentication flow to return the user to the client app. Array of
            JSON redirect URIs (strings) Admin permissions required. Separate
            multiple redirect URIs with commas. Maximum characters: 65535.
          example:
            - https://ClientRedirect.com
          type: array
          items:
            type: string
        whitelist_enabled:
          description: >-
            Enable creation of a specific list of users and groups eligible to
            receive an access token. To create the whitelist, see
            /client_authorizations. Admin permissions required. Pertains to JWT
            grants. Default is false.
          example: true
          type: boolean
      required:
        - name
      type: object
    clients_response:
      properties:
        admin_node_token_retrieval_enabled:
          description: >-
            If you use the JWT grant type (jwt_grant_enabled=true), whether or
            not to allow users of this client who are AoC administrators to
            retrieve admin-scoped node access tokens. Such a token provides the
            user with admin privileges on the node itself. Default is false.
          example: true
          type: boolean
        allow_implicit_grant:
          description: >-
            Whether or not to allow the client app to obtain an access token
            directly from the authorization endpoint, without contacting the
            token endpoint or authenticating the client.
          example: false
          type: boolean
        created_at:
          description: Timestamp of original creation of the client. Datetime.
          example: '2018-02-06T00:03:24Z'
          format: date-time
          type: string
        creator_id:
          description: ID of the user who created the client.
          example: '0'
          type: string
        explicit_authorization_required:
          description: >-
            Use with browser-based authorization. When users log in using the
            client app via a browser, prompt them to explicitly allow access to
            AoC features. Default is true.
          example: false
          type: boolean
        id:
          description: ID of the client app.
          example: '0'
          type: string
        jwt_grant_enabled:
          description: >-
            Allow the client to authenticate using the JSON web token method.
            The JWT grant allows the users of the client to log in without
            having to use a web browser. Default is false.
          example: false
          type: boolean
        name:
          description: 'Name assigned to the client. Maximum length: 255 characters.'
          example: AoC_Client
          type: string
        organization_id:
          description: ID of the AoC organization to which the client belongs.
          example: '4'
          type: string
        origins:
          description: >-
            The allowable list of origins for the client. An origin is the URI
            or protocol-host-port of the client app initial login page, from
            which the user must arrive to the authentication flow. Separate
            multiple origins with commas. Maximum characters: 65535. Array of
            json origins (strings).
          example:
            - https://origins.com
          items:
            type: string
          type: array
        public_key:
          description: 'The public portion of the RSA key pair. Maximum characters: 65535.'
          example: |-
            -----BEGIN PUBLIC KEY-----
            MIIBI ... 7QIDAQAB
            -----END PUBLIC KEY-----
          type: string
        redirect_uris:
          description: >-
            The allowable list of redirect URIs for this client. A redirect URI,
            or protocol-host-port, is an absolute URI invoked after the
            authentication flow to return the user to the client app. Separate
            multiple redirect URIs with commas. Maximum characters: 65535.
          example:
            - https://redirect.com
          type: array
          items:
            type: string
        secret:
          description: The secret associated with this client.
          example: >-
            Fw62_Lh7qOK9Z62z-TAwqJncr8Lmej97TbFCnhzd9ShdQ25NxKuLjeOJXSkKrOHuRezeKiXXcuCUoh_hJ1wwzHARdElfsDhw
          type: string
        updated_at:
          description: Timestamp of last modification to the client. datetime
          example: '2018-02-06T00:03:24Z'
          format: date-time
          type: string
        whitelist_enabled:
          description: >-
            Enable creation of a specific list of users and groups eligible to
            receive an access token. Pertains to JWT grants. Default is false.
            See /client_authorizations.
          example: false
          type: boolean
      type: object
    dropbox_memberships_params:
      properties:
        can_receive_packages:
          description: |
            Indicates whether this member can receive packages.
          example: false
          type: boolean
        can_submit_packages:
          description: |
            Indicates whether this member can submit packages.
          example: true
          type: boolean
        dropbox_id:
          description: ID of the dropbox to which this membership belongs.
          example: '123'
          type: string
        manager:
          description: |
            Indicates whether this member is a dropbox manager.
          example: false
          type: boolean
        member_id:
          description: ID of the member to which this membership belongs.
          example: '42'
          type: string
        member_type:
          description: |
            Describes the kind of member to which this membership belongs.
          enum:
            - user
            - group
          example: user
          type: string
        submit_expires_at:
          description: >
            Defines the time at which the dropbox will be closed to submission
            for a specific dropbox member. If null, the dropbox has no
            submission deadline.
          example: null
          format: date-time
          type: string
      required:
        - dropbox_id
        - member_id
      type: object
    dropbox_memberships_response:
      properties:
        can_receive_packages:
          description: |
            Indicates whether this member can receive packages.
          example: false
          type: boolean
        can_submit_packages:
          description: |
            Indicates whether this member can submit packages.
          example: true
          type: boolean
        creator_id:
          description: ID of the user who created this membership.
          example: '42'
          type: string
        dropbox_id:
          description: ID of the dropbox to which this membership belongs.
          example: '123'
          type: string
        id:
          description: ID of this dropbox membership.
          example: '42'
          type: string
        manager:
          description: |
            Indicates whether this member is a dropbox manager.
          example: false
          type: boolean
        member_id:
          description: ID of the member to which this membership belongs.
          example: '42'
          type: string
        member_type:
          description: |
            Describes the kind of member to which this membership belongs.
          enum:
            - user
            - group
          example: user
          type: string
        submit_expired:
          description: |
            Indicates whether the member may make a submission to the dropbox.
          example: false
          type: boolean
        submit_expires_at:
          description: >
            Defines the time at which the dropbox will be closed to submission
            for a specific dropbox member. If null, the dropbox has no
            submission deadline.
          example: null
          format: date-time
          type: string
        workspace_id:
          description: |
            The ID of the workspace to which this dropbox membership belongs.
          example: '123'
          type: string
      type: object
    dropbox_memberships_update_params:
      properties:
        can_receive_packages:
          description: |
            Indicates whether this member can receive packages.
          example: false
          type: boolean
        can_submit_packages:
          description: |
            Indicates whether this member can submit packages.
          example: true
          type: boolean
        manager:
          description: |
            Indicates whether this member is a dropbox manager.
          example: false
          type: boolean
        submit_expires_at:
          description: >
            Defines the time at which the dropbox will be closed to submission
            for a specific dropbox member. If null, the dropbox has no
            submission deadline.
          example: null
          format: date-time
          type: string
      type: object
    dropboxes_params:
      properties:
        content_retention_duration:
          description: >
            Configure a time-based expiration policy for packages in this shared
            inbox by setting this parameter to a non-null value. Once the
            transfer completes, a timer begins. After the duration configured
            for this parameter, package contents are deleted (the package record
            is maintained and includes details about the sender, recipients,
            contents, and transfer). If null, this shared inbox inherits the
            content_retention_duration settings of its workspace. Valid values:
            null - 10 years. Units: seconds. POST: Admin or Manager permission
            required. PUT: Admin or Manager permission required.
          example: null
          type: integer
        custom_notification_list_enabled:
          description: >
            For a package sent to a shared inbox, this parameter determines
            whether notifications are sent to all package addressees or to a
            user-defined list of addressees for the shared inbox (see
            dropbox_notification_recipients). Defaults to false. Valid values:
            true to send notifications to a user-defined list or false to send
            notifications to all package addressees. POST: Admin or Manager
            permission required. PUT: Admin or Manager permission required.
            RESPONSE: Admin scope.
          example: false
          type: boolean
        delete_package_content_after_download_duration:
          description: >
            Configure a download-based expiration policy for packages in this
            shared inbox by setting this parameter to a non-null value. Once all
            package recipients have downloaded the entire package, a timer
            begins. After the duration configured by this parameter has passed,
            package contents are deleted (the package record is maintained and
            includes details about the sender, recipients, contents, and
            transfer). If null, this shared inbox inherits the
            delete_package_content_after_download_duration settings of its
            workspace. Valid values: null - 10 years. Units: seconds. POST:
            Admin or Manager permission required. PUT: Admin or Manager
            permission required.
          example: null
          type: integer
        description:
          description: >
            A description for the shared inbox. POST: Admin or Manager
            permission required. PUT: Admin or Manager permission required.
            RESPONSE: Admin scope.
          example: null
          type: string
        draft_expiration_duration:
          description: >
            Configure a time-based expiration policy for draft packages in this
            shared inbox by setting this parameter to a non-null value. When a
            package is saved as a draft, a timer begins. After the duration
            configured for this parameter, draft package contents are deleted.
            If this parameter is null, it defaults to the workspace setting. To
            set a time-based expiration policy for non-draft packages, see
            content_retention_duration. Units: seconds. POST: Admin or Manager
            permission required. PUT: Admin or Manager permission required.
          example: null
          type: integer
        dropbox_notification_recipients:
          description: >
            With custom_notification_list_enabled = true, this parameter defines
            a list of addressees who should receive notifications regarding
            packages addressed to this shared inbox. POST: Admin or Manager
            permission required. PUT: Admin or Manager permission required.
          example:
            - id: email@foo.co
              type: email
          items:
            properties:
              id:
                description: >
                  For type = user | group, id denotes the integer ID of that
                  user or group (e.g., "123"). For type = email, id denotes the
                  email address of the intended addressee (e.g.,
                  "email@foo.co").
                type: string
              type:
                enum:
                  - user
                  - group
                  - email
                type: string
            type: object
          type: array
        email_notification_settings:
          allOf:
            - $ref: '#/components/schemas/email_notification_settings'
          description: >
            Email notifications specification. See below. POST: Admin or Manager
            permission required. PUT: Admin or Manager permission required.
          type: object
        enable_external_email_templates:
          description: >
            If inherit_email_templates is set to false, you can enable or
            disable the ability to configure email templates specifically for
            users outside this shared inbox. When this parameter is set to
            false, external recipients receive the same email notification
            messages that users in the shared inbox receive. POST: Admin or
            Manager permission required. PUT: Admin or Manager permission
            required.
          example: false
          type: boolean
        image_data:
          description: >
            The image data for the shared inbox logo encoded as a string. POST:
            Admin or Manager permission required. PUT: Admin or Manager
            permission required.
          example: iVBORw0KGgo ... /wB\/DRk84ZdwGQAAAABJRU5ErkJggg==
          type: string
        image_type:
          description: >
            The image type of the shared inbox logo. For example, image/png or
            image/jpg. POST: Admin or Manager permission required. PUT: Admin or
            Manager permission required.
          example: image/png
          type: string
        inherit_email_notification_settings:
          description: >
            Inherit the email notification settings configured at the workspace
            level. POST Admin or Manager permission required. PUT Admin or
            Manager permission required.
          example: true
          type: boolean
        inherit_email_templates:
          description: >
            Inherit the email templates configured at the workspace level. If
            false, you can configure email template settings for this shared
            inbox. POST: Admin or Manager permission required. PUT: Admin or
            Manager permission required.
          example: true
          type: boolean
        inherit_workspace_expiration_settings:
          description: >
            Inherit the content_retention_duration settings configured at the
            workspace level. POST: Admin or Manager permission required. PUT:
            Admin or Manager permission required.
          example: true
          type: boolean
        instructions:
          description: >
            User-defined instructions for potential shared inbox submissions.
            POST: Admin or Manager permission required. PUT: Admin or Manager
            permission required.
          example: Video submissions only.
          type: string
        metadata_schema:
          $ref: '#/components/schemas/metadata'
        name:
          description: >
            Shared inbox name. A query parameter for the GET method. POST: Admin
            or Manager permission required. PUT: Admin or Manager permission
            required.
          example: My Shared Inbox
          type: string
        package_name_and_message_validation_schema:
          description: >
            Defines illegal characters and/or max length for the name and
            message fields for package submissions to this shared inbox.
            Defaults to an empty array ([]). POST: Admin or Manager permission
            required. PUT: Admin or Manager permission required.
          example:
            - field_name: package_name
              illegal_characters: '!@#'
              max_length: '100'
            - field_name: package_message
              illegal_characters: '!@#'
              max_length: '50'
          items:
            properties:
              field_name:
                enum:
                  - package_name
                  - package_message
                type: string
              illegal_characters:
                description: Defines all disallowed characters.
                example: '!@#'
                type: string
              max_length:
                description: Defines the max length for the provided string.
                example: '50'
                type: string
            type: object
          type: array
        personalized_urls_enabled:
          description: >
            Enable members of this shared inbox to configure personalized URLs
            to send when inviting people to submit packages. POST: Admin or
            Manager permission required. PUT: Admin or Manager permission
            required.
          example: false
          type: boolean
        workspace_id:
          description: >
            ID of the workspace to which this shared inbox belongs. POST: Admin
            or Manager permission required. PUT: Admin or Manager permission
            required.
          example: '123'
          type: string
      required:
        - name
        - description
        - instructions
        - workspace_id
      type: object
    dropboxes_response:
      properties:
        content_retention_duration:
          description: >
            Configure a time-based expiration policy for packages in this shared
            inbox by setting this parameter to a non-null value. Once the
            transfer completes, a timer begins. After the duration configured
            for this parameter, package contents are deleted (the package record
            is maintained and includes details about the sender, recipients,
            contents, and transfer). If null, this shared inbox inherits the
            content_retention_duration settings of its workspace. Valid values:
            null - 10 years. Units: seconds. POST: Admin or Manager permission
            required. PUT: Admin or Manager permission required. Write only.
          example: null
          type: integer
        custom_notification_list_enabled:
          description: >
            For a package sent to a shared inbox, this configuration determines
            whether notifications are sent to all package addressees or a
            user-defined list of addressees for the shared inbox (see
            dropbox_notification_recipients). Defaults to false. Valid values:
            true to send notifications to a user-defined list or false to send
            notifications to all package addressees. POST: Admin or Manager
            permission required. PUT: Admin or Manager permission required.
            RESPONSE: Admin scope.
          example: false
          type: boolean
        delete_package_content_after_download_duration:
          description: >
            Configure a download-based expiration policy for packages in this
            shared inbox by setting this parameter to a non-null value. Once all
            package recipients have downloaded the entire package, a timer
            begins. After the duration configured by this parameter has passed,
            package contents are deleted (the package record is maintained and
            includes details about the sender, recipients, contents, and
            transfer). If null, this shared inbox inherits the
            delete_package_content_after_download_duration settings of its
            workspace. Valid values: null - 10 years. Units: seconds. POST:
            Admin or Manager permission required. PUT: Admin or Manager
            permission required.
          example: null
          type: integer
        description:
          description: >
            A description for the shared inbox. POST: Admin or Manager
            permission required. PUT: Admin or Manager permission required.
            RESPONSE: Admin scope.
          example: null
          type: string
        draft_expiration_duration:
          description: >
            Configure a time-based expiration policy for draft packages in this
            shared inbox by setting this parameter to a non-null value. When a
            package is saved as a draft, a timer begins. After the duration
            configured for this parameter, draft package contents are deleted.
            If this parameter is null, it defaults to the workspace setting. To
            set a time-based expiration policy for non-draft packages, see
            content_retention_duration. Units: seconds. POST: Admin or Manager
            permission required. PUT: Admin or Manager permission required.
          example: null
          type: integer
        dropbox_notification_recipients:
          description: >
            With custom_notification_list_enabled = true, this parameter defines
            a list of addressees who should receive notifications regarding
            packages addressed to this shared inbox. POST: Admin or Manager
            permission required. PUT: Admin or Manager permission required.
          example:
            - id: email@foo.co
              type: email
          items:
            properties:
              id:
                description: >
                  For type = user | group, id denotes the integer ID of that
                  user or group (e.g., "123"). For type = email, id denotes the
                  email address of the intended addressee (e.g.,
                  "email@foo.co").
                type: string
              type:
                enum:
                  - user
                  - group
                  - email
                type: string
            type: object
          type: array
        effective_content_retention_duration:
          description: >
            Amount of time in seconds it takes for packages in this shared inbox
            to be deleted once their transfers complete. If null, packages will
            not be deleted on a timer. Read-only.
          example: null
          type: integer
        effective_delete_package_content_after_download_duration:
          description: >
            Amount of time in seconds it takes a package in this shared inbox to
            be deleted once all recipients have downloaded the entire package.
            If null, packages will not be deleted on a timer. Read-only.
          example: null
          type: integer
        email_notification_settings:
          allOf:
            - $ref: '#/components/schemas/email_notification_settings'
          description: >
            Email notifications specification. See below. POST: Admin or Manager
            permission required. PUT: Admin or Manager permission required.
          type: object
        enable_external_email_templates:
          description: >
            If inherit_email_templates is set to false, you can enable or
            disable the ability to configure email templates specifically for
            users outside this shared inbox. When this parameter is set to
            false, external recipients receive the same email notification
            messages that users in the shared inbox receive. POST: Admin or
            Manager permission required. PUT: Admin or Manager permission
            required.
          example: false
          type: boolean
        id:
          description: The ID of the shared inbox. Read-only.
          example: '123'
          type: string
        image_url:
          description: The URL of the shared inbox logo image. Read-only.
          example: >-
[...]
