{
  "log_directory": null,
  "log_level": "debug",
  "address": "127.0.0.1",
  "port": 55002,
  "api_time_settings": {
    "max_conn_idle": 86400,
    "max_conn_age": 0,
    "max_conn_age_grace": 0,
    "time": 7200,
    "timeout": 20
  },
  "tls": {
    "enabled": false,
    "certificate": "",
    "key": ""
  },
  "workers": {
    "max_concurrent": 100,
    "transfer_cleaning_period": 3600,
    "transfer_max_age": 7200
  },
  "fasp_management": {
    "promiscuous_mode_enabled": false,
    "port": null,
    "address": "127.0.0.1"
  },
  "fasp_runtime": {
    "use_embedded": false,
    "log": {
      "dir": null,
      "level": 0
    },
    "user_defined": {
      "bin": null,
      "etc": null
    },
    "force_version": "3.9.6",
    "extra_config": null
  },
  "authentication": {
    "enabled": false,
    "APIKey": ""
  }
}
